---
import type { HTMLAttributes } from 'astro/types';

// AppLink is a quick-wrap component for `a` tag.

type Props = HTMLAttributes<'a'>;

const { rel, ...props } = Astro.props;
const target = props.href
  ? props.href.toString().startsWith('http')
    ? '_blank'
    : '_self'
  : '_self';
---

<a
  rel={['noopener noreferrer', rel].filter(Boolean).join(' ')}
  target={target}
  data-astro-prefetch={target === '_self' ? true : false}
  {...props}
><slot /></a>
