---
import { Icon } from "astro-icon/components";

import AppLink from "@/components/astro/ui/AppLink.astro";
import ThemeSwitcher from "@/components/astro/layout/ThemeSwitcher.astro";

const links = [
  {
    label: "Home",
    href: "/",
  },
  {
    label: "Bookshelf",
    href: "/bookshelf",
  },
  {
    label: "Posts",
    href: "/posts",
  },
  {
    label: "Colophon",
    href: "/colophon",
  },
];
---

<footer
  class=":uno: space-y-4 w-full mx-auto text-sm p-8"
>
  <div
    class=":uno: flex justify-between items-center md:space-y-0"
  >
    <div class=":uno: w-full flex items-center space-x-4 md:w-auto">
      {
        links.map((link) => (
          <AppLink
            href={link.href}
            title={link.label}
            class=":uno: transition-colors text-heading hover:text-primary focus:text-primary"
          >
            {link.label}
          </AppLink>
        ))
      }
    </div>

  </div>

  <hr
    class=":uno: border-t border-separator transition-colors col-start-1 col-end-13 md:col-start-2 md:col-end-12"
  />

  <div
    class=":uno: flex justify-between items-center col-start-1 col-end-13 md:col-start-2 md:col-end-12"
  >
    <div class=":uno: w-full md:w-auto flex">
      <span class=":uno: hidden sm:block">Contents are licensed under</span>
       &nbsp;
      <AppLink
        href="http://creativecommons.org/licenses/by/4.0"
        rel="license noopener noreferrer"
        class=":uno: :uno: flex items-center text-heading hover:text-primary transition-colors font-semibold space-x-1 group"
      >
        <span>CC BY 4.0</span>
        <Icon
          class=":uno: h-4 w-auto"
          name="simple-icons:creativecommons"
        />
        <Icon class=":uno: h-4 w-auto" name="cib:creative-commons-by" />
      </AppLink>
    </div>

    <AppLink
      href="/rss.xml"
      class=":uno: flex items-center space-x-1 text-heading hover:text-primary focus:text-primary transition-colors"
    >
      <Icon name="lucide:rss" class=":uno: w-4 h-auto -mt-[2px]" />
      <span>RSS</span>
    </AppLink>
  </div>
</footer>
