---
import AppLink from '@/components/astro/ui/AppLink.astro';
import Logo from '@/components/astro/ui/Logo.astro';

const contacts = [
  {
    label: 'Mail',
    href: 'mailto:hello@namchee.dev',
  },
  {
    label: 'GitHub',
    href: 'https://github.com/Namchee',
  },
  {
    label: 'LinkedIn',
    href: 'https://www.linkedin.com/in/namchee/',
  },
  {
    label: 'Bluesky',
    href: 'https://bsky.app/profile/namchee.dev',
  },
];
---

<footer class=":uno: text-sm mx-auto px-8 py-8 pb-24 w-full xl:pb-[43px]">
  <div
    class=":uno: flex items-center space-x-4 xl:flex-col xl:space-x-0 xl:space-y-4"
  >
    <Logo class=":uno: h-[36px] w-8" />

    <div class=":uno: flex items-center space-x-4">
      {
        contacts.map((link) => {
          return (
            <AppLink
              href={link.href}
              title={link.label}
              class=":uno: text-heading/80 font-medium flex transition-colors items-center space-x-2 focus:text-heading hover:text-heading"
              rel="me"
            >
              {link.label}
            </AppLink>
          );
        })
      }
    </div>
  </div>

  <div class=":uno: mt-4 flex items-center justify-between xl:mt-[43px]">
    <p>
      &copy; Namchee. <AppLink
        class=":uno: text-heading/80 font-medium transition-colors focus:text-heading hover:text-heading"
        href="https://creativecommons.org/licenses/by/4.0/deed"
      >CC BY 4.0</AppLink
      >
    </p>

    <div class="flex space-x-4">
      <AppLink
        href="/rss.xml"
        class="text-heading/80 font-medium transition-colors focus:text-heading hover:text-heading"
      >
        RSS
      </AppLink>

      <AppLink
        href="/colophon"
        class="text-heading/80 font-medium transition-colors focus:text-content hover:text-heading"
      >
        Colophon
      </AppLink>
    </div>
  </div>
</footer>
