---
import AppLink from "@/components/astro/ui/AppLink.astro";
import Logo from "@/components/astro/ui/Logo.astro";

const contacts = [
  {
    label: "Mail",
    href: "mailto:hello@namchee.dev",
  },
  {
    label: "GitHub",
    href: "https://github.com/Namchee",
  },
  {
    label: "LinkedIn",
    href: "https://www.linkedin.com/in/namchee/",
  },
  {
    label: "Bluesky",
    href: "https://bsky.app/profile/namchee.dev",
  },
];
---

<footer class=":uno: w-full mx-auto text-sm py-8 md:pb-[43px] pb-24 px-8">
  <div
    class="flex md:flex-col items-center space-x-4 lg:space-x-0 md:space-y-4"
  >
    <Logo class="w-8 h-[36px]" />

    <div class=":uno: flex items-center space-x-4">
      {
        contacts.map((link) => {
          return (
            <AppLink
              href={link.href}
              title={link.label}
              class=":uno: flex items-center space-x-2 hover:text-heading focus:text-heading transition-colors font-medium text-heading/85"
              rel="me"
            >
              {link.label}
            </AppLink>
          );
        })
      }
    </div>
  </div>

  <div class="flex items-center justify-between mt-4 md:mt-[43px]">
    <p>
      &copy; Namchee. <AppLink
        class="hover:text-heading focus:text-heading transition-colors font-medium text-heading/85"
        href="https://creativecommons.org/licenses/by/4.0/deed"
        >CC BY 4.0</AppLink
      >
    </p>

    <div class="flex space-x-4">
      <AppLink
        href="/rss.xml"
        class="font-medium text-heading/85 transition-colors hover:text-heading focus:text-heading"
      >
        RSS
      </AppLink>

      <AppLink
        href="/colophon"
        class="font-medium text-heading/85 transition-colors hover:text-heading focus:text-content"
      >
        Colophon
      </AppLink>
    </div>
  </div>
</footer>
