---
import ThemeSwitcher from "@/components/astro/layout/ThemeSwitcher.astro";
---

<div
  class="w-full px-8 mx-auto hidden
  h-20
  justify-between items-center"
>
  <div class="flex items-center space-x-2">
    <a
      rel="noopener noreferrer"
      href="/"
      class="text-lg leading-none font-medium tracking-tight text-heading logo"
    >
      <span data-letter="N">N</span>
      <span data-letter="a">a</span>
      <span data-letter="m">m</span>
      <span data-letter="c">c</span>
      <span data-letter="h">h</span>
      <span data-letter="e">e</span>
      <span data-letter="e">e</span>
    </a>
  </div>
</div>

<style>
  .logo {
    overflow-y: hidden;
    display: inline-flex;
  }

  .logo span {
    position: relative;
    display: inline-block;
  }

  .logo span::before {
    position: absolute;
    content: attr(data-letter);
    display: inline-block;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
  }

  @for $i from 1 to 8 {
    .logo span:nth-child($i) {
      transition: transform 500ms calc(50ms * ($(i) - 1)) easeOutQuart;
    }

    .logo:hover span:nth-child($i),
    .logo:focus span:nth-child($i) {
      transform: translateY(-100%);
    }
  }
</style>
