---
import { Icon } from "astro-icon/components";

import AppLink from "@/components/astro/ui/AppLink.astro";
import Logo from "@/components/astro/ui/Logo.astro";
import Card from "@/components/astro/ui/Card.astro";
import ButtonLink from "@/components/astro/ui/ButtonLink.astro";

import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<div class=":uno: w-full flex items-center justify-between px-8 h-20">
  <AppLink href="/">
    <Card class=":uno: w-8 h-8">
      <Logo class="w-6 h-6" />
    </Card>
  </AppLink>

  <div class="flex items-center space-x-4">
    <ButtonLink href="/rss.xml" title="RSS Feed">
      <Icon name="lucide:rss" class=":uno: w-4 h-auto" />
    </ButtonLink>

    <ThemeSwitcher />
  </div>
</div>
