---
import "@/assets/styles/global.css";
import "@/assets/styles/toggle.css";

import Footer from "@/components/astro/layout/Footer.astro";
import CommandMenu from "@/components/vue/CommandMenu.vue";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <meta name="description" content={description} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="webmention" href="https://webmention.io/www.namchee.dev/webmention" />
    <title>{title}</title>
  </head>
  <body
    class="bg-background transition-colors text-content min-h-screen flex flex-col font-sans"
  >
    <CommandMenu client:only="vue" />
    <main class="w-full max-w-7xl mx-auto flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<script>
  console.log(`
               ▄███▄▄███▄
                 ▄█▀▀██
        ▄█      ██    ▀█      █▌
       ███████▄██      ██▄██████▌
      ███      ▀██    ▄█▀      ███
     █▀ █▌      ▀██  ██▀      ▄█ ▀█
         ██▄     ▄████▌     ▄██
          ██▀▀██▀██████▀██▀▀██
     ▄  ██       ██▀▀██       █▌ ▄
     ████       ██▀  ▀██       ███
       ███▄▄▄▄███      ███▄▄▄▄███
        ██      █      █      ██
         ▀      ▀█▄  ▄█▀      ▀
               ▄▄██████▄▄

         Hey there developers!
    There's nothing here, so scram!
`);
</script>
