---
import "@/assets/styles/global.css";

import Footer from "@/components/astro/layout/Footer.astro";
import CommandMenu from "@/components/vue/CommandMenu.vue";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const { pathname } = new URL(Astro.request.url);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <meta name="description" content={description} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/theme-toggles@4.10.1/css/around.min.css"
    />
    <script
      src="https://giscus.app/client.js"
      data-repo="Namchee/site"
      data-repo-id="R_kgDOG8kT4Q"
      data-category="[ENTER CATEGORY NAME HERE]"
      data-category-id="[ENTER CATEGORY ID HERE]"
      data-mapping="title"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="top"
      data-theme="preferred_color_scheme"
      data-lang="en"
      data-loading="lazy"
      crossorigin="anonymous"
      async
    ></script>
    <title>{title} | Namchee, Software Engineer</title>
  </head>
  <body
    class="bg-background transition-colors text-content min-h-screen flex flex-col font-sans"
  >
    <CommandMenu client:only="vue" />
    <main class="w-full max-w-7xl mx-auto flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
