<nav class=":uno: z-20 flex items-center fixed bottom-8 left-1/2 -translate-x-1/2 border border-separator rounded-lg shadow text-sm p-1 bg-background">
  <a class="grid place-items-center w-24 h-8 leading-none rounded-md" href="">Home</a>
  <a class="grid place-items-center w-24 h-8 leading-none rounded-md" href="">Posts</a>
  <a class="grid place-items-center w-24 h-8  leading-none rounded-md" href="">Bookshelf</a>
</nav>
