---
import { Icon } from "astro-icon/components";

import AppLink from "@/components/astro/ui/AppLink.astro";

const links = [
  {
    href: "/",
    label: "Home",
    icon: "lucide:home",
  },
  {
    href: "/posts",
    label: "Posts",
    icon: "lucide:notebook-pen",
  },
  {
    href: "/bookshelf",
    label: "Library",
    icon: "lucide:library-big"
  },
];

const currentPath = Astro.url.pathname;
---

<nav
  class="flex fixed bottom-8 left-1/2 translate-x-[-50%] transition-colors bg-navigation-background border border-navigation-border shadow-md rounded-xl space-x-1 p-1"
>
  {
    links.map((link) => (
      <AppLink
        href={link.href}
        class:list={[
          "w-[36px] md:w-20 h-[36px] grid place-items-center transition-colors rounded-xl hover:bg-navigation-accent focus:bg-navigation-accent text-sm",
          { "text-heading bg-navigation-accent": link.href === currentPath },
        ]}
      >
        <span class="hidden md:block">{link.label}</span>
        <Icon name={link.icon} aria-label={link.label} class="md:hidden h-auto w-5" />
      </AppLink>
    ))
  }
</nav>
