---
import { Icon } from "astro-icon/components";

import AppLink from "@/components/astro/ui/AppLink.astro";
import IconButton from "@/components/astro/ui/IconButton.astro";
import NavigationItem from "@/components/vue/NavigationItem.vue";

const links = [
  {
    href: "/",
    label: "Home",
    icon: "lucide:home",
  },
  {
    href: "/posts",
    label: "Posts",
    icon: "lucide:notebook-pen",
  },
  {
    href: "/bookshelf",
    label: "Library",
    icon: "lucide:library-big",
  },
];

const currentPath = Astro.url.pathname;
---

<nav
  class="flex fixed bottom-8 left-1/2 translate-x-[-50%] transition-colors bg-navigation-background border border-navigation-border shadow-lg rounded-md"
>
  {
    links.map((link, idx) => (
      <NavigationItem label={link.label} client:load>
        <AppLink
          href={link.href}
          class:list={[
            "w-[36px] h-[36px] grid place-items-center transition-colors  text-content rounded-md hover:bg-navigation-accent focus:bg-navigation-accent text-sm my-1 mr-1",
            {
              "text-heading bg-navigation-accent": link.href === currentPath,
              "ml-1": idx === 0,
            },
          ]}
        >
          <Icon name={link.icon} aria-label={link.label} class="h-auto w-5" />
        </AppLink>
      </NavigationItem>
    ))
  }

  <div class="border border-navigation-border"></div>

  <NavigationItem label="Command Palette (Ctrl + K)" client:load>
    <IconButton class="ml-1 my-1">
      <Icon
        name="lucide:command"
        aria-label="Command Palette"
        class="w-5 h-auto"
      />
    </IconButton>
  </NavigationItem>

  <NavigationItem label="Switch Theme" client:load>
    <IconButton class="my-1 mx-1">
      <Icon
        name="lucide:sun"
        aria-label="Toggle site theme"
        class="h-auto w-5"
      />
    </IconButton>
  </NavigationItem>
</nav>
