---
import { Icon } from "astro-icon/components";

import AppLink from "@/components/astro/ui/AppLink.astro";
import ThemeSwitcher from "@/components/astro/layout/ThemeSwitcher.astro";

const links = [
  {
    label: "Home",
    href: "/",
  },
  {
    label: "Bookshelf",
    href: "/bookshelf",
  },
  {
    label: "Posts",
    href: "/posts",
  },
  {
    label: "Colophon",
    href: "/colophon",
  },
];
---

<footer class=":uno: flex justify-between items-center w-full mx-auto text-sm p-8 pb-11">
  <div class=":uno: flex items-center">
    <AppLink
      href="http://creativecommons.org/licenses/by/4.0"
      rel="license noopener noreferrer"
      class=":uno: inline-flex items-center text-heading hover:text-primary transition-colors font-medium group"
    >
      CC BY 4.0
    </AppLink>

    <span>.&nbsp;2024 &ndash; Present</span>
  </div>

  <div class=":uno: flex items-center space-x-4">
    <AppLink href="/colophon">
      Colophon
    </AppLink>

    <p class=":uno: inline-flex items-center space-x-1">
      <Icon name="simple-icons:github" class="w-4 h-4" />

      <span class="font-mono text-xs">
        Namchee/site#1234
      </span>
    </p>
  </div>
</footer>
