---
import AppLink from '@/components/astro/AppLink.astro';
import TextLink from '@/components/astro/TextLink.astro';

import BackToTop from '@/components/vue/BackToTop.vue';

import { Icon } from 'astro-iconify';
---

<footer class="flex flex-col items-center
  w-full max-w-7xl mx-auto
  py-10
  space-y-12"
>
  <!-- start: contacts -->
  <div class="flex flex-col items-center space-y-8">
    <!-- start: email -->
    <div class="text-center">
      <p class="text-sm mb-2 text-content-variant">
        Say hello
      </p>

      <AppLink href="mailto:hello@namchee.dev">
        hello@namchee.dev
      </AppLink>
    </div>
    <!-- end: email -->

    <!-- start: socials -->
    <div class="flex mt-8 space-x-4">
      <AppLink
        external
        href="https://www.github.com/Namchee"
        class="text-content-light transition-colors hover:text-primary focus:text-primary"
      >
        <Icon
          name="radix-icons:github-logo"
          class="fill-current w-4"
        />
      </AppLink>

      <AppLink
        external
        href="https://twitter.com/lakban_hitam"
        class="text-content-light transition-colors hover:text-primary focus:text-primary"
      >
        <Icon
          name="radix-icons:twitter-logo"
          class="fill-current w-4"
        />
      </AppLink>

      <AppLink
        external
        href="https://www.linkedin.com/in/namchee/"
        class="text-content-light transition-colors hover:text-primary focus:text-primary"
      >
        <Icon
          name="radix-icons:linkedin-logo"
          class="fill-current w-4"
        />
      </AppLink>
    </div>
    <!-- end: socials -->

  </div>
  <!-- end: contacts -->

  <div class="w-full mt-8 flex justify-between text-sm">
    <p>
      &copy; 2023 Namchee
    </p>

    <BackToTop as="button" class="flex items-center" client:visible>
      <Icon name="radix-icons:arrow-up" class="w-4 mr-1" />
      <span> Back to top</span>
    </BackToTop>
  </div>
</footer>
