---
export interface FooterLinkProps {
  href: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="font-medium
      relative
      after:absolute
      after:(content-*)
      after:w-full
      after:h-[1px]
    after:bg-dark
      after:left-0
      after:scale-x-0
      after:ease-out
      after:duration-200
      after:origin-right
      after:transition-transform
      after:bottom-[-3px]
      focus:after:scale-x-100
      hover:after:scale-x-100
      hover:after:origin-left">
  <slot />
</a>
