---
import TextLink from '@/components/astro/TextLink.astro';
---

<footer class="w-full px-4 md:px-0 bg-content-light">
  <div class="w-full
    mx-auto
    max-w-7xl
    flex flex-col md:flex-row items-center justify-between
    py-16
    text-sm
    text-content-light"
  >
    <!-- start: left side -->
    <div class="mb-4 md:mb-0">
      MIT License &copy; 2022 &mdash; Powered by
        <TextLink
          href="https://astro.build/"
          external
          theme="accent">
          Astro
        </TextLink>
    </div>
    <!-- end: left side -->

    <!-- start: right side -->
    <div
      class="flex items-center
        space-x-4 md:space-x-8"
    >
      <TextLink
        theme="content"
        href="mailto:im-cristopher@proton.me"
        external>
        Mail
      </TextLink>
      <TextLink
        theme="content"
        href="https://www.github.com/Namchee"
        external>
        GitHub
      </TextLink>
      <TextLink
        theme="content"
        href="https://www.linkedin.com/in/namchee/"
        external>
        LinkedIn
      </TextLink>
      <TextLink
        theme="content"
        href="https://twitter.com/lakban_hitam"
        external>
        Twitter
      </TextLink>
    </div>
    <!-- end: right side -->
  </div>
</footer>
