---
import AppLink from '@/components/astro/AppLink.astro';
import TextLink from '@/components/astro/TextLink.astro';

import BackToTop from '@/components/vue/BackToTop.vue';

import { Icon } from 'astro-iconify';
---

<footer class="flex flex-col items-center
  w-full max-w-7xl mx-auto
  py-8
  space-y-12"
>
  <!-- start: page speed -->
  <div class="text-center
    leading-relaxed
    hidden"
  >
    <!-- TODO: change this using real data -->
    <p>
      This page is loaded in <b>0.8</b> seconds and emitted <b>0.3</b> grams of CO<sub>2</sub>
    </p>

    <TextLink href="https://www.websitecarbon.com/" external class="text-center">
      Learn more about sustainable websites
    </TextLink>
  </div>
  <!-- end: page speed -->

  <!-- start: contacts -->
  <div class="flex flex-col items-center space-y-8">
    <!-- start: email -->
    <div class="text-center">
      <p class="mb-2 text-content-variant">
        Say hello
      </p>

      <AppLink class="text-lg" href="mailto:hello@namchee.dev">
        hello@namchee.dev
      </AppLink>
    </div>
    <!-- end: email -->

    <!-- start: socials -->
    <div class="flex mt-8 space-x-6">
      <AppLink
        external
        href="https://www.github.com/Namchee"
        class="text-content-light transition-colors hover:text-primary focus:text-primary"
      >
        <Icon
          name="radix-icons:github-logo"
          class="fill-current w-5"
        />
      </AppLink>

      <AppLink
        external
        href="https://twitter.com/lakban_hitam"
        class="text-content-light transition-colors hover:text-primary focus:text-primary"
      >
        <Icon
          name="radix-icons:twitter-logo"
          class="fill-current w-5"
        />
      </AppLink>

      <AppLink
        external
        href="https://www.linkedin.com/in/namchee/"
        class="text-content-light transition-colors hover:text-primary focus:text-primary"
      >
        <Icon
          name="radix-icons:linkedin-logo"
          class="fill-current w-5"
        />
      </AppLink>
    </div>
    <!-- end: socials -->

  </div>
  <!-- end: contacts -->

  <div class="w-full mt-8 grid grid-cols-3 gap-4">
    <p>
      &copy; 2023 Namchee
    </p>

    <BackToTop
      as="button"
      class="col-start-3 justify-end flex items-center"
      client:visible
    >
      <Icon name="radix-icons:arrow-up" class="w-4 mr-2" />
      <span> Back to top</span>
    </BackToTop>
  </div>
</footer>
