---
import ThemeToggle from '@/components/astro/ThemeToggle.astro';

interface Props {
  currentPath: string;
}

const { currentPath } = Astro.props;

const links = [
  {
    href: '/',
    text: 'Home',
  },
  {
    href: '/about',
    text: 'About',
  },
  {
    href: '/blog',
    text: 'Blog',
  },
];
---

<div class="w-full max-w-7xl h-24 mx-auto flex justify-between items-center">
  <!-- start: logo -->
  <div class="flex items-center space-x-2">
    <a
      rel="noopener noreferrer"
      href="/"
      class="text-lg leading-none font-medium tracking-tighter logo hover:text-content-variant transition-colors"
    >
      <span data-letter="N">N</span>
      <span data-letter="a">a</span>
      <span data-letter="m">m</span>
      <span data-letter="c">c</span>
      <span data-letter="h">h</span>
      <span data-letter="e">e</span>
      <span data-letter="e">e</span>
    </a>
  </div>
  <!-- end: logo -->

  <!-- start: theme toggle -->
  <ThemeToggle />
  <!-- end: theme toggle -->
</div>

<style>
  .link {
    position: relative;
    overflow-y: hidden;
  }

  .link span {
    display: inline-block;
    transition: transform 600ms easeOutQuart;
  }

  .link::before {
    content: attr(data-hover);
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: transform 600ms easeOutQuart;
  }

  .link:hover span,
  .link:focus span {
    transform: translateY(-100%);
  }

  .link:hover::before,
  .link:focus::before {
    transform: translateY(0);
  }

  .logo {
    overflow-y: hidden;
    display: inline-flex;
  }

  .logo span {
    position: relative;
    display: inline-block;
  }

  .logo span::before {
    position: absolute;
    content: attr(data-letter);
    display: inline-block;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
  }

  @for $i from 1 to 8 {
    .logo span:nth-child($i) {
      transition: transform 500ms calc(50ms * ($(i) - 1)) easeOutQuart;
    }

    .logo:hover span:nth-child($i),
    .logo:focus span:nth-child($i) {
      transform: translateY(-100%);
    }
  }
</style>
