---
import ThemeToggle from '@/components/astro/ThemeToggle.astro';

interface Props {
  currentPath: string;
}

const { currentPath } = Astro.props;

const links = [
  {
    href: '/',
    text: '/home',
  },
  {
    href: '/about_two',
    text: '/about',
  },
  {
    href: '/blog',
    text: '/blog',
  },
];
---

<div class="w-full max-w-7xl h-24 mx-auto flex items-center justify-between">
  <!-- start: logo -->
  <div class="flex items-center col-span-2 space-x-2">
    <a
      rel="noopener noreferrer"
      href="/"
      class="text-lg leading-none font-medium tracking-tighter logo"
    >
      <span data-letter="N">N</span>
      <span data-letter="a">a</span>
      <span data-letter="m">m</span>
      <span data-letter="c">c</span>
      <span data-letter="h">h</span>
      <span data-letter="e">e</span>
      <span data-letter="e">e</span>
    </a>
  </div>
  <!-- end: logo -->

  <!-- start: toggle -->
  <div class="col-end-12">
    <ThemeToggle />
  </div>
  <!-- end: toggle -->

  <!-- start: nav -->
  <nav class="space-x-12 ml-auto col-start-10 col-span-full hidden">
    {
      links.map(link => (
        <a
          href={link.href}
          data-hover={link.text}
          class="transition-colors hover:text-content-variant focus:text-content-variant link"
          class:list={{
            'font-medium tracking-tight': currentPath === link.href,
          }}
        >
          <span>{link.text}</span>
        </a>
      ))
    }
  </nav>
  <!-- end: nav -->
</div>

<style>
  .link {
    position: relative;
    overflow-y: hidden;
  }

  .link span {
    display: inline-block;
    transition: transform 600ms easeOutQuart;
  }

  .link::before {
    content: attr(data-hover);
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: transform 600ms easeOutQuart;
  }

  .link:hover span,
  .link:focus span {
    transform: translateY(-100%);
  }

  .link:hover::before,
  .link:focus::before {
    transform: translateY(0);
  }

  .logo {
    overflow-y: hidden;
    display: inline-flex;
  }

  .logo span {
    position: relative;
    display: inline-block;
  }

  .logo span::before {
    position: absolute;
    content: attr(data-letter);
    display: inline-block;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
  }

  @for $i from 1 to 8 {
    .logo span:nth-child($i) {
      transition: transform 500ms calc(50ms * ($(i) - 1)) easeOutQuart;
    }

    .logo:hover span:nth-child($i),
    .logo:focus span:nth-child($i) {
      transform: translateY(-100%);
    }
  }
</style>
