---
import ScrollTrigger from '@/components/vue/ScrollTrigger.vue';
---

<ScrollTrigger
  apply={{ transform: 'translateY(0)', opacity: 1 }}
  duration={0.4}
  offset={0.75}
  client:visible
  class="text-center text-5xl leading-relaxed translate-y-4 opacity-0"
>
  <p class="text-content-variant text__header">Build Softwares</p>

  <p class="text__header">Solve Real Problems</p>
</ScrollTrigger>

<script>
  const els = document.querySelectorAll('.text__header');
  for (const el of els) {
    el.addEventListener('mouseover', () => {
      els.forEach(e => e.classList.remove('text__header_active'));
      el.classList.add('text__header_active');
    });
  }

  els[0].classList.add('text__header_active');
</script>

<style>
  .text__header {
    filter: blur(8px);
    transform: scale(0.98);
    transition: all 400ms easeOutCubic;
  }

  .text__header:nth-child(2) {
    opacity: 0.75;
  }

  .text__header_active {
    filter: blur(0);
    transform: scale(1);
  }

  .text__header:nth-child(2).text__header_active {
    opacity: 1;
  }
</style>
