---
---

<div class="w-full max-w-5xl mx-auto gap-x-8 hero__container">
  <p
    class="text-4xl text-content-variant tracking-tight lg:text-right whitespace-nowrap"
  >
    Build Softwares
  </p>

  <div id="blob" class="h-[50vh]"></div>

  <p class="text-4xl text-content tracking-tight whitespace-nowrap">
    Solve Problems
  </p>
</div>

<script>
  import * as THREE from 'three';
  import { RGBELoader } from 'three/examples/jsm/loaders/RGBELoader';
  import { RoundedBoxGeometry } from 'three/examples/jsm/geometries/RoundedBoxGeometry';

  const blob = document.querySelector('#blob');
  const hdrEquirect = new RGBELoader().load('envmap.hdr', () => {
    hdrEquirect.mapping = THREE.EquirectangularReflectionMapping;
  });

  const renderer = new THREE.WebGLRenderer({ antialias: true, alpha: true });
  renderer.setSize(blob.clientWidth, blob.clientHeight);
  renderer.setPixelRatio(blob.clientWidth / blob.clientHeight);

  const camera = new THREE.PerspectiveCamera(
    45,
    window.devicePixelRatio,
    0.01,
    100
  );
  camera.position.set(0, 0, 4);
  camera.aspect = blob.clientWidth / blob.clientHeight;
  camera.updateProjectionMatrix();

  const scene = new THREE.Scene();

  const light = new THREE.AmbientLight(0xfafafa, 0.5);

  const geometry = new RoundedBoxGeometry(1, 1, 1, 16, 0.2);
  const material = new THREE.MeshPhysicalMaterial({
    metalness: 0.1,
    transmission: 0.9,
    roughness: 0.25,
    envMap: hdrEquirect,
  });
  const mesh = new THREE.Mesh(geometry, material);

  const clock = new THREE.Clock();

  scene.add(light);
  scene.add(mesh);

  function onWindowResize() {
    renderer.setSize(blob.clientWidth, blob.clientHeight);
    renderer.setPixelRatio(blob.clientWidth / blob.clientHeight);

    camera.aspect = blob.clientWidth / blob.clientHeight;
    camera.updateProjectionMatrix();
  }

  function animate() {
    requestAnimationFrame(animate);

    renderer.render(scene, camera);
  }

  const canvas = renderer.domElement;

  blob.appendChild(canvas);

  window.addEventListener('resize', onWindowResize);
  animate();
</script>

<style>
  .hero__container {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
  }
</style>
