---
---

<div
  class="w-full max-w-5xl mx-auto flex flex-col lg:flex-row justify-center lg:space-x-8"
>
  <p
    class="text-4xl text-content-variant tracking-tight self-center lg:text-right"
  >
    Build Softwares
  </p>

  <canvas>foo bar</canvas>

  <p class="text-4xl text-content tracking-tight self-center">Solve Problems</p>
</div>

<script>
  import * as THREE from 'three';
</script>
