---
import { Icon } from 'astro-icon';
---

<div
  class="pt-32 flex justify-center items-center space-x-6 opacity-0 translate-y-4 hero"
>
  <p class="text-4xl leading-normal">Problems</p>
  <Icon
    name="radix-icons:arrow-right"
    class="w-12 opacity-0 -translate-x-4 arrow__right"
  />
  <p class="text-4xl blurred__text">Namchee</p>
  <Icon
    name="radix-icons:arrow-right"
    class="w-12 opacity-0 -translate-x-4 arrow__right"
  />
  <p class="text-4xl blurred__text">Solutions</p>
</div>

<script>
  import { inView, stagger, timeline } from 'motion';

  inView(
    '.hero',
    () => {
      timeline([
        [
          '.hero',
          {
            opacity: 1,
            transform: 'translateY(0)',
          },
          {
            duration: 0.5,
          },
        ],
        [
          '.arrow__right',
          {
            opacity: 1,
            transform: 'translateX(0)',
          },
          {
            duration: 0.4,
            delay: stagger(0.5),
          },
        ],
      ]);
    },
    { amount: 0.75 }
  );
</script>

<style>
  .blurred__text {
    filter: blur(24px);
  }

  .blurred__text:hover {
    animation: clear 600ms both 1;
  }

  @keyframes clear {
    from {
      filter: blur(24px);
    }

    to {
      filter: blur(0);
    }
  }
</style>
