---
---

<div class="text-center text-4xl leading-relaxed">
  <p class="text-content-variant">Build Softwares</p>

  <p class="blur-24 hover:blur-0 transition-filter">Solve Real Problems</p>
</div>

<script></script>

<style>
  .blurred__text {
    filter: blur(24px);
  }
</style>
