---
import { Icon } from 'astro-iconify';

import AppLink from '@/components/astro/ui/AppLink.astro';
import ScrollTrigger from '@/components/vue/ScrollTrigger.vue';
---

<header class="grid grid-cols-12 gap-4">
  <ScrollTrigger
    as="h1"
    target="header__word"
    apply={{ transform: 'translateY(0)' }}
    class="col-start-4 col-span-6 text-3xl leading-normal text-content-variant"
    duration={0.6}
    stagger={0.15}
    offset={0.75}
    client:visible
  >
    <p class="overflow-y-hidden">
      <span class="inline-block translate-y-100% header__word">
        Solving real-life problems with
      </span>
    </p>

    <p class="overflow-y-hidden">
      <span class="inline-block translate-y-100% text-content header__word">
        performant and sustainable
      </span>
    </p>

    <p class="overflow-y-hidden">
      <span class="inline-block translate-y-100% header__word">
        software solutions.
      </span>
    </p>
  </ScrollTrigger>

  <ScrollTrigger
    as="div"
    apply={{ transform: 'translateX(0)', opacity: 1 }}
    duration={0.4}
    class="col-start-4 col-span-3 mt-12 opacity-0 -translate-x-4 mb-12"
    offset={0.75}
    delay={0.75}
    client:visible
  >
    <AppLink
      class="inline-flex items-center text-content-variant transition-colors hover:text-content focus:text-content text-xl about__link"
      href="/about"
    >
      <Icon name="radix-icons:arrow-right" class="w-6 arrow__before" />
      <span class="about__text inline-block">About Namchee</span>
      <Icon
        name="radix-icons:arrow-right"
        class="w-6 -translate-x-8 opacity-0 arrow__after"
      />
  </AppLink>
  </ScrollTrigger>
</header>

<style>
  .arrow__before,
  .arrow__after,
  .about__text {
    transition: all 200ms easeOutQuad;
  }

  .about__text {
    transform: translateX(8px);
  }

  .arrow__before {
    transform: translateX(0);
    opacity: 1;
  }

  .about__link:hover .arrow__before,
  .about__link:focus .arrow__before {
    opacity: 0;
    transform: translateX(16px);
  }

  .about__link:hover .about__text,
  .about__link:focus .about__text {
    transform: translateX(-32px);
  }

  .about__link:hover .arrow__after,
  .about__link:focus .arrow__after {
    opacity: 1;
    transform: translateX(-24px);
  }
</style>
