---
---

<div class="w-full max-w-5xl mx-auto gap-x-8 hero__container">
  <p
    class="text-4xl text-content-variant tracking-tight lg:text-right whitespace-nowrap"
  >
    Build Softwares
  </p>

  <div id="blob" class="h-[50vh]"></div>

  <p class="text-4xl text-content tracking-tight whitespace-nowrap">
    Solve Problems
  </p>
</div>

<script>
  import * as THREE from 'three';

  const blob = document.querySelector('#blob');

  const renderer = new THREE.WebGLRenderer({ antialias: true, alpha: true });
  renderer.setSize(blob.clientWidth, blob.clientHeight);
  renderer.setPixelRatio(blob.clientWidth / blob.clientHeight);

  const camera = new THREE.PerspectiveCamera(
    75,
    window.devicePixelRatio,
    10,
    1000
  );
  camera.position.set(0, 0, 200);

  const scene = new THREE.Scene();

  const geometry = new THREE.SphereGeometry(100, 64, 64);
  const material = new THREE.MeshNormalMaterial();
  const mesh = new THREE.Mesh(geometry, material);

  scene.add(mesh);

  function onWindowResize() {
    camera.aspect = blob.clientWidth / blob.clientHeight;
    camera.updateProjectionMatrix();
  }

  function animate() {
    renderer.render(scene, camera);
  }

  const canvas = renderer.domElement;

  blob.appendChild(canvas);

  onWindowResize();
  window.addEventListener('resize', onWindowResize);
  requestAnimationFrame(animate);
</script>

<style>
  .hero__container {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
  }
</style>
