---
import { Icon } from 'astro-icon';
---

<div
  class="flex justify-center items-center space-x-6 translate-y-6 opacity-0 hero tracking-tight"
>
  <p class="text-4xl leading-normal">Problems</p>
  <Icon
    name="radix-icons:arrow-right"
    class="w-12 opacity-0 -translate-x-4 arrow__right"
  />
  <p class="text-4xl blurred__text">Namchee</p>
  <Icon
    name="radix-icons:arrow-right"
    class="w-12 opacity-0 -translate-x-4 arrow__right"
  />
  <p class="text-4xl blurred__text font-medium">Solutions</p>
</div>

<script>
  import { animate, inView, stagger, timeline } from 'motion';

  inView(
    '.hero',
    () => {
      timeline([
        [
          '.hero',
          {
            opacity: 1,
            transform: 'translateY(0)',
          },
          {
            duration: 0.7,
          },
        ],
        [
          '.arrow__right',
          {
            opacity: 1,
            transform: 'translateX(0)',
          },
          {
            duration: 0.25,
            delay: stagger(0.75),
            at: '+0.3',
          },
        ],
      ]);
    },
    { amount: 0.75 }
  );

  const blurred = document.querySelectorAll('.blurred__text');
  for (const el of blurred) {
    el.addEventListener(
      'mouseover',
      () => {
        animate(
          el,
          {
            filter: ['blur(24px)', 'blur(0)'],
          },
          {
            duration: 0.4,
          }
        );
      },
      { once: true }
    );
  }
</script>

<style>
  .blurred__text {
    filter: blur(24px);
  }
</style>
