---
import ScrollTrigger from '@/components/vue/ScrollTrigger.vue';
---

<ScrollTrigger
  apply={{ transform: 'translateY(0)', opacity: 1 }}
  duration={0.4}
  offset={0.75}
  client:visible
  class="text-center text-5xl leading-relaxed translate-y-4 opacity-0"
>
  <p class="text-content-variant">
    Build <span class="blur-8 blurred__text">Softwares</span>
  </p>

  <p class="">
    Solve <span class="blur-8 blurred__text">Real Problems</span>
  </p>
</ScrollTrigger>

<script>
  import { animate } from 'motion';
  /*
  const els = document.querySelectorAll('.text__header');
  for (const el of els) {
    el.addEventListener('mouseover', () => {
      els.forEach(e => e.classList.remove('text__header_active'));
      el.classList.add('text__header_active');
    });
  }

  els[0].classList.add('text__header_active');
  */

  const blurred = document.querySelectorAll('.blurred__text');
  for (const el of blurred) {
    el.addEventListener(
      'mouseover',
      () => {
        animate(
          el,
          {
            filter: 'blur(0)',
            opacity: 1,
          },
          {
            duration: 0.4,
          }
        );
      },
      { once: true }
    );
  }
</script>

<style>
  .text__header {
    filter: blur(6px);
    transform: scale(0.98);
    transition: all 400ms easeOutCubic;
  }

  .text__header:nth-child(2) {
    opacity: 0.75;
  }

  .text__header_active {
    filter: blur(0);
    transform: scale(1);
  }

  .text__header:nth-child(2).text__header_active {
    opacity: 1;
  }
</style>
