---
interface Props {
  currentPath: string;
}

const { currentPath } = Astro.props;

const links = [
  {
    href: '/',
    text: 'Home',
  },
  {
    href: '/about',
    text: 'About',
  },
  {
    href: '/blog',
    text: 'Blog',
  },
];
---

<nav class="fixed bottom-0
  bg-content
  bg-opacity-80
  backdrop-blur-4
  rounded-full
  p-1
  space-x-1
  flex
  shadow
  navigation">
  {
    links.map(link => (
      <a
        href={link.href}
        data-hover={link.text}
        class="block w-24 h-10 flex items-center justify-center rounded-full text-surface transition-colors focus:outline-none"
        class:list={{
          'bg-surface bg-opacity-15': currentPath === link.href,
          'text-opacity-80 hover:bg-surface hover:bg-opacity-10 focus:bg-surface focus:bg-opacity-10': currentPath !== link.href,
        }}
      >
        <span>{link.text}</span>
      </a>
    ))
  }
</nav>

<style>
  .navigation {
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
