---
interface Props {
  currentPath: string;
}

const { currentPath } = Astro.props;

const links = [
  {
    href: '/',
    text: '/home',
  },
  {
    href: '/about',
    text: '/about',
  },
  {
    href: '/blog',
    text: '/blog',
  },
];
---

<nav class="fixed bottom-0
  bg-background
  text-content
  bg-opacity-90
  backdrop-blur-4
  border
  border-outline
  border-opacity-50
  rounded-full
  p-1
  space-x-1
  flex
  shadow
  navigation">
  {
    links.map(link => (
      <a
        href={link.href}
        data-hover={link.text}
        class="block w-24 h-10 flex items-center justify-center rounded-full text-content-variant transition-colors hover:bg-surface focus:bg-surface focus:outline-none"
        class:list={{
          'bg-surface text-content': currentPath === link.href,
        }}
      >
        <span>{link.text}</span>
      </a>
    ))
  }
</nav>

<style>
  .navigation {
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }
</style>
