---
import Layout from '@/components/astro/Layout.astro';
import TextLink from '@/components/astro/TextLink.astro';

import { Icon } from 'astro-icon';
---

<Layout title="About" description="bar">
  <header class="py-32 border-b relative">
    <h1 class="text-7xl leading-snug tracking-tight px-16">
      <p>
        Spreadin' wonders
      </p>
      <p>
        through software magic
      </p>
    </h1>

    <div class="absolute -bottom-12 right-12">
      <button class="w-24 h-24 rounded-full grid place-items-center bg-accent text-white transition-colors hover:bg-accent-dark">
        <Icon name="radix-icons:file-text" class="w-10 h-10" />
      </button>
    </div>
  </header>

  <section class="py-32 grid grid-cols-2">
    <p class="text-xl">
      A little about me
    </p>

    <div class="text-lg space-y-8 leading-relaxed text-content-light">
      <p>
        Hi. My name is Cristopher, but I'm commonly known as Namchee in the online space.
        I'm a software engineer based in Bandung, Indonesia. Currently I'm working my magic at
        <TextLink href="https://www.tokopedia.com" external theme="accent">Tokopedia</TextLink>
      </p>

      <p>
        The accidental press of F12 in 2016 sparks my interest to make the world a better place for
        everyone through software engineering.
      </p>

      <p>
        Since then, I always hone my craft by exploring and learning new things in the vast world of software engineering.

        For me, such journey are the ones that make life more lively and worth celebrating.
      </p>
    </div>
  </section>

  <section class="py-16 grid grid-cols-2">
    <p class="text-xl">
      What I do
    </p>

    <div class="text-lg space-y-8 leading-relaxed text-content-light">
      <p>
        Whenever I'm free
      </p>
    </div>
  </section>

  <section class="py-16 w-full mx-auto grid grid-cols-2">
    <h2 class="text-xl">
      Experiences
    </h2>

    <div class="space-y-8 text-lg w-full leading-relaxed text-content-light">
      <div class="grid grid-cols-[auto_1fr_auto] gap-8 border-b-2 pb-4">
        <p>
          2020
        </p>

        <p>
          Tokopedia
        </p>

        <p class="self-end">
          Software Engineer
        </p>
      </div>
    </div>
  </section>
</Layout>


