---
import Layout from '@/components/astro/Layout.astro';

import ArrowRight from '~icons/eva/arrow-forward-outline';
import AboutContacts from '@/components/vue/AboutContacts.vue';
import AboutHero from '@/components/vue/AboutHero.vue';
---

<Layout title="About Me">
	<div class="mt-20 mb-24 grid grid-cols-12 gap-x-6">
		<AboutHero client:visible />

		<!-- start: about sections -->
		<div class="mt-32 space-y-24 col-span-full">
			<section class="grid grid-cols-12 gap-x-6">
				<div class="font-semibold">
					01/
				</div>
				<div class="text-3xl font-medium -mt-3 tracking-tighter">
					Introducing...
				</div>
				<div class="col-start-7 col-span-full leading-loose space-y-8">
					<p>
						Cristopher (more commonly known as Namchee) is a software engineer based in Bandung, Indonesia.

						Currently, I work at <a href="https://www.tokopedia.com">Tokopedia</a> as an impact-driven software engineer.
					</p>
					<p>
						My first software engineering journey began in 2016 when I discovered HTML and JavaScript.

						The accidental discovery of programming ignites my long-life dream to make the world a better place for everyone through software engineering.
					</p>
					<p>
						Exploring the vast world of software engineering made me a curious person.

						My curiosity drives me to explore and learn new things in various domains every day.

						For me, such opportunities are the ones that make life more lively and worth celebrating.
					</p>
				</div>
			</section>

			<section class="grid grid-cols-12 gap-x-6">
				<div class="font-semibold">
					02/
				</div>
				<div class="text-3xl font-medium -mt-3 tracking-tighter">
					Professional Experiences
				</div>
				<div class="col-start-7 col-span-full leading-loose">
					<ul>
						<li>
							<p class="text-grey text-xs uppercase font-semibold">
								2022 &mdash; Present
							</p>
							<p class="font-medium text-2xl tracking-tight leading-relaxed">
								Tokopedia
							</p>
							<p class="mt-2">
								Tokopedia is where I began my software engineering gig. Some of
								my personal achievements in Tokopedia are:

								<ul>
									<li class="flex">
										<ArrowRight class="w-6 h-auto first:self-start mt-[6px]" />
										<p class="ml-3 flex-1">
											Improved the reliability of incident detection in digital tribe by maintaining 911 monitoring and alerting project.
										</p>
									</li>
									<li class="flex">
										<ArrowRight class="w-6 h-auto self-start mt-[6px]" />
										<p class="ml-3 flex-1">
											Decreased critical API latency by 400% by optimizing database queries and function calls.
										</p>
									</li>
								</ul>
							</p>
						</li>
					</ul>
				</div>
			</section>

			<section class="grid grid-cols-12 gap-x-6">
				<div class="font-semibold">
					03/
				</div>
				<div class="text-3xl font-medium -mt-3 tracking-tighter">
					Contacts
				</div>
				<div class="col-start-7 col-span-full leading-loose">
					<p>
						You can contact me through these channels. Don't worry, I don't bite!
					</p>

					<AboutContacts class="mt-4" />
				</div>
			</section>
		</div>
		<!-- end: about sections -->
	</div>
</Layout>
