---
import Layout from '@/components/astro/Layout.astro';
import TextLink from '@/components/astro/TextLink.astro';
---

<Layout title="foo" description="bar">
  <header class="py-48 w-full mx-auto max-w-7xl gap-x-16">
    <h1 class="text-6xl leading-snug">
      <p>
        Makin' magic
      </p>
      <p>
        through softwares
      </p>
    </h1>
  </header>

  <section class="max-w-5xl w-full mx-auto grid grid-cols-2">
    <div class="col-start-2">
      <p class="text-xl">
        A little about me
      </p>

      <p class="mt-6 text-content-light">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus eveniet magni adipisci quo voluptate voluptatem laboriosam distinctio voluptatum asperiores reiciendis! Quos repellat ipsa a. Enim cum non vel eius in!
        Doloribus animi incidunt quos ea a maxime ex, quisquam dolorum ad repellat maiores nemo voluptatibus facilis cumque exercitationem temporibus aut debitis cupiditate odio! Fugit obcaecati ducimus omnis, laudantium molestiae fugiat!
        Facilis quod optio expedita rerum tenetur, dolore voluptatem incidunt, tempore magni eos odio, repellat voluptate ex molestias. Necessitatibus vel natus id. Quae accusamus modi velit enim facere illo, fuga earum.
        Voluptatum numquam perferendis maiores tempore nostrum inventore, commodi aperiam vero distinctio vel quaerat nesciunt veritatis, animi impedit. Porro impedit placeat, sapiente explicabo modi unde ut sit magnam culpa eligendi qui!
        Nobis quasi omnis assumenda, laudantium dolorum mollitia laboriosam, minus non corporis quae distinctio inventore voluptatum, consectetur cum! Porro obcaecati adipisci aliquam, est, harum alias voluptates odio quam quas nulla molestias!
      </p>
    </div>
  </section>
</Layout>


