---
import { Icon } from 'astro-iconify';

import AppLink from '@/components/astro/AppLink.astro';
import Layout from '@/components/astro/Layout.astro';
import TextLink from '@/components/astro/TextLink.astro';

import ScrollTrigger from '@/components/vue/ScrollTrigger.vue';

const metaDescription =
  'Cristopher, or more commonly known as Namchee, is a software engineer based in Bandung, Indonesia. Namchee is focused solving real-life problems to make the world a better place.';
---

<Layout title="About Me" description={metaDescription}>
    <!-- sttart: header -->
    <header class="py-44 grid grid-cols-12 gap-4">
      <h1 class="text-6xl tracking-tight leading-snug col-start-2 col-end-12">
        <p>
          <span class="text-content-variant">Purpose-driven</span> engineer
        </p>
        <p>
          that delivers <span class="text-content-variant">impact</span>
        </p>
      </h1>
    </header>
    <!-- end: header -->

    <!-- start: text-heavy section -->
    <article class="grid grid-cols-12 gap-4 pb-32">
      <section class="col-start-2 col-span-4">
        <p>
          Current Location
        </p>

        <p>
          Bandung, Indonesia
        </p>
      </section>

      <section class="col-start-6 col-span-6 space-y-16">
        <section>
          <p class="text-lg leading-normal text-content-variant mb-6">
            The story
          </p>

          <p class="text-xl leading-normal">
            Hi. My name is Cristopher, but I'm commonly known as Namchee in the online space.
            I'm a Indonesian-based software engineer that solves real-life problems through performant and sustainable solutions. Currently, I create practical
            solutions at Tokopedia.
          </p>
        </section>

        <section>
          <p class="text-lg leading-normal text-content-variant mb-6">
            The dream
          </p>

          <p class="text-xl leading-normal mb-6">
            I dream to make the world a better place through software engineering by creating
            practical solutions to real-life problems for anyone, anywhere, and anytime.
          </p>

          <p class="text-xl leading-normal">
            With a lofty dream in mind, I always try to expand my craft by exploring and learning
            new things in various domains everyday. For me, such opportunities are the one that
            makes life more lively and interesting.
          </p>
        </section>
      </section>
    </article>
    <!-- end: text-heavy section -->

    <!-- start: experiences table -->
    <section class="grid grid-cols-12 gap-4 pt-16 pb-32">
      <h2 class="col-start-2 text-3xl leading-normal mb-12">
        Experiences
      </h2>

      <table class="col-start-2 col-end-12 table-auto">
        <thead>
          <tr class="text-left text-lg leading-normal border-b border-b-outline">
            <th class="pb-4">
              Year
            </th>

            <th class="pb-4">
              Role
            </th>

            <th class="pb-4">
              Place
            </th>
          </tr>
        </thead>

        <tbody>
          <tr class="text-left text-lg leading-normal border-b border-b-outline">
            <td class="flex items-center tex py-4">
              2023 &mdash; Present
            </td>

            <td class="py-4">
              Software Engineer
            </td>

            <td class="py-4">
              GLAIR
            </td>
          </tr>

          <tr class="text-left text-lg leading-normal border-b border-b-outline">
            <td class="py-4">
              2021 &mdash; 2023
            </td>

            <td class="py-4">
              Software Engineer
            </td>

            <td class="py-4">
              Tokopedia
            </td>
          </tr>

          <tr class="text-left text-lg leading-normal border-b border-b-outline">
            <td class="py-4">
              2017 &mdash; 2021
            </td>

            <td class="py-4">
              Bachelor of Computer Science
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <!-- end: experiences table -->
</Layout>

<script>
  const speechBtn = document.querySelector('.speech__synthesis');

  const utterance = new SpeechSynthesisUtterance('Namce');
  utterance.lang = 'id-ID';

  function speak() {
    if (window.speechSynthesis) {
      window.speechSynthesis.speak(utterance);
    }
  }

  // speechBtn.addEventListener('click', speak);
</script>
