---
import Layout from '@/components/astro/Layout.astro';
---

<Layout title="foo" description="bar">
  <div class="my-32 w-full mx-auto max-w-5xl">
    <h1 class="text-5xl max-w-4xl leading-snug">
      Namchee is a <span class="text-accent-light">purpose-driven</span>
      developer that delivers
      meaningful <span class="text-accent-dark">impact</span>
    </h1>
  </div>

  <div class="my-32 max-w-5xl mx-auto">
    <!-- start: paragraphs -->
    <section class="my-32 max-w-2xl">
      <p class="text-content-dark text-xl">
        A little about me
      </p>

      <p class="mt-4 text-content-light leading-normal">
        Hello there stranger! My name is Cristopher but you can call me Namchee instead.
        I'm a software engineer based in Bandung, Indonesia.
      </p>

      <p class="mt-4 text-content-light leading-normal">
        My first software engineering journey began in 2016 when I discovered HTML and JavaScript.

        The accidental discovery of programming ignites my long-life dream to make the world a better place for
        everyone through software engineering.
      </p>

      <p class="mt-4 text-content-light leading-normal">
        Exploring the vast world of software engineering made me a curious person.

        My curiosity drives me to explore and learn new things in various domains every day.

        For me, such opportunities are the ones that make life more lively and worth celebrating.
      </p>
    </section>
    <!-- end: paragraphs -->

    <!-- start: contacts -->
    <!-- end: contacts -->
  </div>
</Layout>


