---
import Layout from '@/components/astro/Layout.astro';
import TextLink from '@/components/astro/TextLink.astro';
---

<Layout title="foo" description="bar">
  <header class="my-48 w-full mx-auto max-w-6xl gap-x-16">
    <h1 class="text-5xl text-center leading-snug">
      <p>
        Driven by <span class="text-accent-light">purpose</span>
      </p>
      <p>
        Bringing meaningful <span class="text-accent-dark">impact</span>
      </p>
    </h1>
  </header>
</Layout>


