---
import Layout from '@/components/astro/Layout.astro';
import TextLink from '@/components/astro/TextLink.astro';

import { Icon } from 'astro-icon';
---

<Layout title="About" description="bar">
  <header
    class="grid grid-cols-12 gap-x-4
      mt-32"
  >
    <h1
      class="text-7xl leading-none
        col-start-2 col-span-full
        space-x-8
        flex items-center"
    >
      <div>
        <p class="text-content-variant text-2xl">Driven by</p>
        <p class="tracking-tight mt-8">
          Purpose
        </p>
      </div>
      <Icon name="radix-icons:arrow-right" class="w-24 h-24 self-end" />
      <div>
        <p class="text-content-variant text-2xl">Delivering</p>
        <p class="tracking-tight mt-8">
          Impact
        </p>
      </div>
    </h1>
  </header>

  <div
    class="w-full max-w-7xl mx-auto
      grid grid-cols-12 gap-x-4
      my-32"
  >
    <div
      class="col-start-5 col-end-12
      text-content-variant
      space-y-6
      text-lg leading-relaxed
      "
    >
      <p>
        Hi. My name is Cristopher, but I'm commonly known as Namchee in the online space.
        I'm a software engineer based in Bandung, Indonesia. Currently, I create practical solutions
        at <TextLink href="https://www.tokopedia.com" external theme="accent">Tokopedia</TextLink>
      </p>

      <p>
        I became acquainted with the world of code when I accidentaly
        pressed <kbd class="bg-surface text-red font-mono p-0.5 rounded">F12</kbd>
        during my high school days. Although I only started being active around 2020, that
        fateful incident ignites my curiosity in software engineering.
      </p>

      <div class="grid grid-cols-2">
        <div>
          <p class="text-xl text-content">
            Mission
          </p>
          <p>
            My dream is to make the world a better place through software engineering by
      creating practical solutions to real-world problems
      for anyone, anywhere, and anytime.
          </p>
        </div>
      </div>

      <a class="inline-flex items-center about__link" href="">
        <Icon name="radix-icons:arrow-right" class="w-7 arrow__before" />
        <span class="about__text inline-block">Read my resume</span>
        <Icon name="radix-icons:arrow-top-right" class="w-7 -translate-x-8 opacity-0 arrow__after" />
      </a>
    </div>
  </div>


</Layout>

<style scoped>
.arrow__before,
.arrow__after,
.about__text {
  transition: all 200ms cubic-bezier(0.33, 1, 0.68, 1);
}

.about__text {
  transform: translateX(8px);
}

.about__link:hover .arrow__before,
.about__link:focus .arrow__before {
  opacity: 0;
}

.about__link:hover .about__text,
.about__link:focus .about__text {
  transform: translateX(-32px);
}

.about__link:hover .arrow__after,
.about__link:focus .arrow__after {
  opacity: 1;
  transform: translateX(-24px);
}
</style>
