---
import Layout from '@/components/astro/Layout.astro';
import ScrollTrigger from '@/components/vue/ScrollTrigger.vue';

import { Icon } from 'astro-icon';
---

<Layout title="About" description="bar">
  <div class="grid grid-cols-12 gap-x-4 py-32">
    <header class="col-start-1 col-span-6">
      <ScrollTrigger
        as="h1"
        target="header__word"
        apply={{ transform: 'translateY(0)' }}
        class="text-5xl leading-snug"
        duration={0.8}
        delay={0.175}
        client:visible
      >
        <p class="overflow-y-hidden">
          <span class="inline-block translate-y-100% header__word">
            Driven by purpose.
          </span>
        </p>

        <p class="overflow-y-hidden">
          <span class="inline-block translate-y-100% header__word">
            Delivering impact.
          </span>
        </p>
      </ScrollTrigger>
    </header>

    <article class="col-start-8 col-span-full">
      <ScrollTrigger
        as="section"
        apply={{ transform: 'translateY(0)', opacity: 1 }}
        duration={0.4}
        class="opacity-0 translate-y-4 mb-12"
        offset={0.75}
        client:visible
      >
        <p class="font-mono text-content-variant uppercase mb-6">About me</p>

        <p class="text-lg leading-normal mb-6">
          Hi. My name is Cristopher, but I'm commonly known as Namchee in the
          online space. I'm a software engineer based in Bandung, Indonesia.
          Currently, I create practical solutions at Tokopedia.
        </p>

        <p class="text-lg leading-normal">
          I stumbled upon the world of code when I'm searching for a way to
          cheat at a Facebook game during my junior high school days. Although I
          failed to do so, the journey serves as my first step to software
          engineering.
        </p>
      </ScrollTrigger>

      <ScrollTrigger
        as="section"
        apply={{ transform: 'translateY(0)', opacity: 1 }}
        duration={0.4}
        class="opacity-0 translate-y-4 mb-12"
        offset={0.75}
        client:visible
      >
        <p class="font-mono text-content-variant uppercase mb-6">Mission</p>

        <p class="text-lg leading-normal mb-6">
          My mission is to make the world a better place through software
          engineering by creating practical solutions to real-world problems for
          anyone, anywhere, and anytime.
        </p>

        <p class="text-lg leading-normal">
          With that in mind, I always try to expand my craft by exploring and
          learning new things in various domains everyday. For me, such
          opportunities are the one that makes life more lively and interesting.
        </p>
      </ScrollTrigger>

      <ScrollTrigger
        as="section"
        apply={{ transform: 'translateY(0)', opacity: 1 }}
        duration={0.4}
        class="opacity-0 translate-y-4 mb-12"
        offset={0.75}
        client:visible
      >
        <p class="font-mono text-content-variant uppercase mb-6">
          Other things I do
        </p>

        <p class="text-lg leading-normal">
          Outside professional work, I love contributing to open source projects
          and joining impactful community movements. Whenever I feel the burn
          out is approaching, I usually play video games with my trusty little
          war machine or read light novels.
        </p>
      </ScrollTrigger>

      <ScrollTrigger
        as="section"
        apply={{ transform: 'translateY(0)', opacity: 1 }}
        duration={0.4}
        class="opacity-0 translate-y-4 mb-12"
        offset={0.75}
        client:visible
      >
        <p class="font-mono text-content-variant uppercase mb-6">Experiences</p>

        <ul>
          <li>
            <p
              class="text-xl leading-normal font-medium flex items-center justify-between mb-3"
            >
              <span>Tokopedia</span>

              <a
                href="https://www.tokopedia.com"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Tokopedia"
              >
                <Icon
                  name="radix-icons:external-link"
                  class="w-5 h-5 text-content-variant transition-colors hover:text-content focus:text-content"
                />
              </a>
            </p>

            <ul>
              <li class="flex items-center space-x-4 text-lg leading-normal">
                <span> Software Engineer</span>

                <div class="h-[1px] border-t-1 border-t-outline flex-1"></div>

                <span class="flex items-center space-x-2">
                  <span
                    class="w-2 h-2 rounded-full bg-green inline-block pulse"
                    aria-hidden="true"></span>
                  <span>August 2021 &mdash; Present</span>
                </span>
              </li>
            </ul>
          </li>
        </ul>
      </ScrollTrigger>

      <a
        href="https://read.cv/namchee"
        target="_blank"
        rel="noopener noreferrer"
        class="inline-flex items-center text-lg leading-none about__link"
      >
        <Icon name="radix-icons:arrow-right" class="w-5 h-5 arrow__before" />
        <span class="about__text inline-block">Read my resume</span>
        <Icon
          name="radix-icons:arrow-top-right"
          class="w-5 h-5 -translate-x-4 opacity-0 arrow__after"
        />
      </a>
    </article>
  </div>
</Layout>

<style scoped>
  .arrow__before,
  .arrow__after,
  .about__text {
    transition: all 200ms easeOutCubic;
  }

  .about__text {
    transform: translateX(8px);
  }

  .arrow__before {
    transform: translateX(0px);
  }

  .arrow__after {
    opacity: 0;
    transform: translateX(-24px);
  }

  .about__link:hover .arrow__before,
  .about__link:focus .arrow__before {
    transform: translateX(16px);
    opacity: 0;
  }

  .about__link:hover .about__text,
  .about__link:focus .about__text {
    transform: translateX(-20px);
  }

  .about__link:hover .arrow__after,
  .about__link:focus .arrow__after {
    opacity: 1;
    transform: translateX(-16px);
  }

  .pulse {
    opacity: 1;
    animation: pulse 2s infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(101, 186, 117, 0.5);
    }

    60% {
      transform: scale(1);
      box-shadow: 0 0 0 8px rgba(101, 186, 117, 0);
    }

    80% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(101, 186, 117, 0);
    }
  }
</style>
