---
import Layout from '@/components/astro/Layout.astro';
import TextLink from '@/components/astro/TextLink.astro';

import { Icon } from 'astro-icon';
---

<Layout title="About" description="bar">
  <header
    class="py-32
      border-b border-content-light border-opacity-25
      relative
      grid grid-cols-12 gap-4"
  >
    <h1
      class="text-7xl leading-normal tracking-tight
        col-start-2 col-span-full
        text-content-dark"
    >
      <p>
        Creating solutions
      </p>
      <p>
        with pride since 2020
      </p>
    </h1>

    <div class="absolute -bottom-12 right-8">
      <a
        href="/"
        download
        class="w-24 h-24
          rounded-full
          grid place-items-center 
          bg-accent text-surface
          transition-colors 
          hover:bg-accent-dark"
      >
        <Icon name="radix-icons:file-text" class="w-10 h-10" />
      </a>
    </div>
  </header>

  <div class="py-32 space-y-24">
    <article class="grid grid-cols-12 gap-4">
      <p
        class="text-xl
          col-start-2 col-span-4"
      >
        A little about me
      </p>

      <div class="text-lg 
        leading-relaxed space-y-12
        col-start-7 col-end-12"
      >
        <div class="space-y-4">
          <p class="font-medium text-2xl leading-relaxed">
            Eat. Sleep. Code.
          </p>
          
          <p class="text-content-light">
            Hi. My name is Cristopher, but I'm commonly known as Namchee in the online space.
            I'm a software engineer based in Bandung, Indonesia. Currently, I create practical solutions
            at <TextLink href="https://www.tokopedia.com" external theme="accent">Tokopedia</TextLink>.
          </p>
        </div>

        <div class="space-y-4">
          <p class="text-xl">
            First step
          </p>
          
          <p class="text-content-light">
            I became acquainted to programming in 2015 when my teacher
            introduces me to the World Wide Web. Although I only start being active recently,
            that fateful introduction serves as my first step to software engineering.
          </p>
        </div>

        <div class="space-y-4">
          <p class="text-xl">
            The dream
          </p>
          
          <p class="text-content-light">
            My dream is to make the world a better place through software engineering by
            creating practical solutions for anyone, anywhere, and anytime.
          </p>
        </div>

        <div class="space-y-4">
          <p class="text-xl">
            Other things I do
          </p>
          
          <p class="text-content-light">
            Outside professional work, I love solving programming problems from online judges and
            contributing to open source projects. Whenever I feel the burn out is approaching,
            I play video games with my trusty little war machine or read light novels.
          </p>
        </div>
      </div>
    </article>

    <article class="grid grid-cols-12 gap-4">
      <p
        class="text-xl
          col-start-2 col-span-4"
      >
        Experiences
      </p>

      <ul
        class="space-y-12
          leading-relaxed
          col-start-7 col-end-12"
        >
        <li class="space-y-4">
          <p class="text-content text-xl leading-relaxed">
            Tokopedia
          </p>

          <div class="text-content-light">
            <p>
              August 2021 &mdash; Present
            </p>

            <p>
              Software Engineer
            </p>
          </div>

          <p class="text-content-light">
            Jakarta, Indonesia
          </p>
        </li>
      </ul>
    </article>
  </div>
</Layout>


