---
import Layout from '@/components/astro/Layout.astro';
import TextLink from '@/components/astro/TextLink.astro';
---

<Layout title="foo" description="bar">
  <header class="py-48 w-full mx-auto gap-x-16">
    <h1 class="text-6xl leading-snug">
      <p>
        Spreadin' wonders
      </p>
      <p>
        through software magic
      </p>
    </h1>
  </header>

  <section class="py-32 max-w-5xl w-full mx-auto grid grid-cols-2">
    <p class="text-content-light">
      A little about me
    </p>

    <div class="col-start-2 text-lg space-y-8 leading-relaxed">
        <p>
          Hi. My name is Cristopher, but I'm commonly known as Namchee in the online space.
          I'm a software engineer based in Bandung, Indonesia. Currently I'm working my magic at
          <TextLink href="https://www.tokopedia.com" external theme="accent">Tokopedia</TextLink>
        </p>

        <p>
          The accidental press of F12 in 2016 sparks my interest to make the world a better place for
          everyone through software engineering.
        </p>

        <p>
          Since then, I always hone my craft by exploring and learning new things in the vast world of software engineering.

          For me, such journey are the ones that make life more lively and worth celebrating.
        </p>
    </div>
  </section>

  <section class="py-32 w-full max-w-5xl mx-auto grid grid-cols-2">
    <h2 class="text-content-light">
      Tools of Trade
    </h2>

    <div class="col-start-2 text-lg leading-relaxed">
      <p>
        Every magicians have their own set of tools to spread wonders and I am no different.
        Here's what I use.
      </p>

      <div class="space-y-8 text-lg leading-relaxed">
        <div class="mt-10 grid grid-cols-2 gap-8 lg:gap-y-16 gap-x-8">
          <div>
            <p class="text-sm text-content-light tracking-tight">
              Front End Development
            </p>

            <ul class="space-y-1 mt-2">
              <li>
                HTML
              </li>
              <li>
                CSS
              </li>
              <li>
                JavaScript
              </li>
              <li>
                TypeScript
              </li>
              <li>
                React
              </li>
              <li>
                Vue
              </li>
              <li>
                Next.js
              </li>
              <li>
                NuxtJS
              </li>
            </ul>
          </div>

          <div>
            <p class="text-xs font-mono text-grey">
              Back End Development
            </p>

            <ul class="space-y-1 mt-2">
              <li>
                NodeJS
              </li>
              <li>
                Golang
              </li>
              <li>
                MySQL
              </li>
              <li>
                PostgreSQL
              </li>
            </ul>
          </div>

          <div>
            <p class="text-xs font-mono text-grey">
              Infrastructure
            </p>

            <ul class="space-y-1 mt-2">
              <li>
                Vercel
              </li>
              <li>
                Supabase
              </li>
              <li>
                Cloudflare
              </li>
            </ul>
          </div>

          <div>
            <p class="text-xs font-mono text-grey">
              Other Tools
            </p>

            <ul class="space-y-1 mt-2">
              <li>
                VSCode
              </li>
              <li>
                Git
              </li>
              <li>
                Figma
              </li>
              <li>
                Google
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>


