---
import Layout from '@/components/astro/Layout.astro';
import TextLink from '@/components/astro/TextLink.astro';

import { Icon } from 'astro-icon';
---

<Layout title="About" description="bar">
  <header
    class="py-32
      border-b border-content-light border-opacity-25
      relative
      grid grid-cols-12 gap-4"
  >
    <h1
      class="text-7xl leading-normal tracking-tight
        col-start-2 col-span-full
        text-content-dark"
    >
      <p>
        Driven by purpose
      </p>
      <p>
        Delivering impact
      </p>
    </h1>

    <div class="absolute -bottom-12 right-8">
      <a
        href="https://drive.google.com/uc?export=download&id=1O0DhjPpljvfygrP-Sk9pA7TxRSd8wrbX"
        download
        class="w-24 h-24
          rounded-full
          grid place-items-center 
          bg-accent text-surface
          transition-all
          hover:bg-accent-dark
          hover:ring-accent-light
          hover:ring-4
          hover:ring-opacity-50
          resume__button"
        aria-label="Download resume"
      >
        <Icon name="radix-icons:file-text" class="w-10 h-10 resume__button__file" />
        <Icon name="radix-icons:download" class="w-10 h-10 resume__button__download" />
      </a>
    </div>
  </header>

  <div class="py-32 space-y-24">
    <article class="grid grid-cols-12 gap-4">
      <p
        class="text-xl col-start-2 col-span-3"
      >
        A little about me
      </p>

      <div class="text-lg 
        leading-relaxed space-y-12
        col-start-5 col-end-12"
      >
        <div class="space-y-12">          
          <p class="text-content-light text-2xl leading-normal">
            Hi. My name is Cristopher, but I'm commonly known as Namchee in the online space.
            I'm a software engineer based in Bandung, Indonesia. Currently, I create practical solutions
            at <TextLink href="https://www.tokopedia.com" external theme="accent">Tokopedia</TextLink>.
          </p>

          <p class="text-content-light text-2xl leading-normal">
            I became acquainted with the world of code when I accidentaly
            pressed <kbd class="bg-surface-dark text-red font-mono p-1 rounded">F12</kbd>
            during my high school days. Since then, I always try to hone my craft
            by exploring and learning new things everyday. 
          </p>

          <div class="grid grid-cols-2 gap-8">
            <div class="space-y-4">
              <p class="text-xl leading-normal">
                Dream
              </p>
              
              <p class="text-content-light">
                My dream is to make the world a better place through software engineering by
                creating practical solutions for anyone, anywhere, and anytime.
              </p>
            </div>

            <div class="space-y-4">
              <p class="text-xl leading-normal">
                Other things I do
              </p>
              
              <p class="text-content-light">
                Outside professional work, I love contributing to open source projects and
                participating on community movements.
              </p>

              <p class="text-content-light">
                Whenever I feel the burn out is approaching,
                I play video games with my trusty little war machine or
                read light novels.
              </p>
            </div>
          </div>
        </div>
      </div>
    </article>

    <article class="grid grid-cols-12 gap-4">
      <p
        class="text-xl
          col-start-2 col-span-3"
      >
        Experiences
      </p>

      <ul
        class="space-y-12
          leading-relaxed
          col-start-5 col-end-12"
        >
        <li class="space-y-4">
          <p class="text-xl leading-relaxed">
            Tokopedia
          </p>

          <div class="text-content-light">
            <p>
              August 2021 &mdash; Present
            </p>

            <p>
              Software Engineer
            </p>
          </div>

          <p class="text-content-light">
            Jakarta, Indonesia
          </p>
        </li>
      </ul>
    </article>
  </div>
</Layout>

<style>
.resume__button {
  display: grid;
  place-items: center;
  overflow-y: hidden;
}

.resume__button > * {
  display: inline-block;
  grid-area: 1 / 1;
  transition: all 150ms ease-out;
}

.resume__button__file {
  opacity: 1;
  transform: translateY(0);
}

.resume__button__download {
  opacity: 0;
  transform: translateY(175%);
}

.resume__button:hover .resume__button__file,
.resume__button:focus .resume__button__file,
.resume__button:active .resume__button__file {
  opacity: 0;
  transform: translateY(-175%);
}

.resume__button:hover .resume__button__download,
.resume__button:focus .resume__button__download,
.resume__button:active .resume__button__download {
  opacity: 1;
  transform: translateY(0);
}
</style>