---
import Layout from '@/components/astro/Layout.astro';
import TextLink from '@/components/astro/TextLink.astro';

import { Icon } from 'astro-icon';
---

<Layout title="About" description="bar">
  <header class="py-32 border-b border-content border-opacity-20 relative">
    <h1 class="text-7xl leading-snug tracking-tight px-16">
      <p>
        Spreading wonders
      </p>
      <p>
        through software magic
      </p>
    </h1>

    <div class="absolute -bottom-12 right-12">
      <button class="w-24 h-24 rounded-full grid place-items-center bg-accent text-white transition-colors hover:bg-accent-dark">
        <Icon name="radix-icons:file-text" class="w-10 h-10" />
      </button>
    </div>
  </header>

  <div class="px-16 py-32 space-y-24">
    <section class="grid grid-cols-2">
      <p class="text-xl">
        A little about me
      </p>

      <div class="text-lg space-y-8 leading-relaxed text-content-light">
        <p>
          Hi. My name is Cristopher, but I'm commonly known as Namchee in the online space.
          I'm a software engineer based in Bandung, Indonesia. Currently, I'm working my magic at
          <TextLink href="https://www.tokopedia.com" external theme="accent">Tokopedia</TextLink>.
        </p>

        <p>
          The accidental press of F12 in 2016 sparks my interest in
          softwares. Nobody ever suspected that those sparks actually ignites my life-long
          dream of making the world a better place through software engienering.
        </p>

        <p>
          Since then, I always try to hone my craft by exploring and learning new things in the vast world
          of software engineering.

          For me, such journey are the ones that make life more lively and worth celebrating.
        </p>
      </div>
    </section>

    <div class="grid grid-cols-2">
      <p class="text-xl">
        Experiences
      </p>

      <ul class="space-y-8 leading-relaxed text-content-light">
        <li class="space-y-4">
          <p class="text-content text-xl">
            Tokopedia
          </p>

          <div>
            <p>
              August 2022 &mdash; Present
            </p>

            <p>
              Software Engineer
            </p>
          </div>

          <p>
            Jakarta, Indonesia
          </p>
        </li>
      </ul>
    </div>
  </div>
</Layout>


