---
import { Icon } from 'astro-iconify';

import AppLink from '@/components/astro/AppLink.astro';
import Layout from '@/components/astro/Layout.astro';
import TextLink from '@/components/astro/TextLink.astro';

import ScrollTrigger from '@/components/vue/ScrollTrigger.vue';

const metaDescription =
  'Cristopher, or more commonly known as Namchee, is a software engineer based in Bandung, Indonesia. Namchee is focused solving real-life problems to make the world a better place.';
---

<Layout title="About Me" description={metaDescription}>
    <!-- sttart: header -->
    <header class="pt-48 pb-72 text-center">
      <ScrollTrigger
        as="p"
        target="header__word"
        apply={{ transform: 'translateY(0)' }}
        class="text-lg text-content-variant mb-4 overflow-y-hidden"
        duration={0.6}
        easing="easeOutCubic"
        client:visible
      >
        <span class="inline-block translate-y-100% header__word text-content-variant">
          About
        </span>
      </ScrollTrigger>

      <h1 class="text-6xl tracking-tight mb-12">
        /nam&middot;ce/
      </h1>

      <button
        class="rounded-full bg-surface transition-colors hover:bg-surface-variant focus:bg-surface-variant focus:outline-none p-4 speech__synthesis"
      >
        <Icon name="heroicons:microphone" class="w-6 text-content-variant" />
      </button>
    </header>
    <!-- end: header -->

    <section class="grid grid-cols-12 gap-4 mb-32">
      <p class="col-start-3 col-span-2 text-lg text-content-variant">
        A little about me
      </p>

      <p class="col-start-6 col-end-11 text-lg leading-relaxed mb-8">
        Hi. My name is Cristopher, but I'm commonly known as Namchee in the online space. I'm a software engineer based in Bandung, Indonesia. Currently, I create practical solutions at Tokopedia.
      </p>

      <p class="col-start-6 col-end-11 text-lg leading-relaxed mb-8">
        I dream to make the world a better place through software engineering by creating practical solutions to real-life problems for anyone, anywhere, and anytime.
      </p>

      <p class="col-start-6 col-end-11 text-lg leading-relaxed">
        With a lofty dream in mind, I always try to expand my craft by exploring and learning new things in various domains everyday. For me, such opportunities are the one that makes life more lively and interesting.
      </p>
    </section>
</Layout>

<script>
  const speechBtn = document.querySelector('.speech__synthesis');

  const utterance = new SpeechSynthesisUtterance('Namce');
  utterance.lang = 'id-ID';

  function speak() {
    if (window.speechSynthesis) {
      window.speechSynthesis.speak(utterance);
    }
  }

  speechBtn.addEventListener('click', speak);
</script>
