---
import Layout from '@/components/astro/Layout.astro';
import Project from '@/components/astro/Project.astro';

import Hero from '@/components/vue/Hero.vue';

import { Icon } from 'astro-icon';
---

<Layout title="foo" description="bar">
  <div class="py-32">
    <Hero client:only />
  </div>

  <div class="py-32 flex flex-col text-lg md:text-2xl max-w-4xl mx-auto">
    <p class="leading-relaxed">
      Namchee — a <span class="text-accent">software engineer</span>
      based in Bandung, Indonesia. Likes to solve real-life problems through code.
      Passionate about open source and community movements.
    </p>

    <p>
      <a class="mt-12 inline-flex items-center about__link" href="/about">
        <Icon name="radix-icons:arrow-right" class="w-8 -mt-1 arrow__before" />
        <span class="about__text inline-block">About Namchee</span>
        <Icon name="radix-icons:arrow-right" class="w-8 -mt-1 -translate-x-8 opacity-0 arrow__after" />
      </a>
    </p>
  </div>

  <div class="py-32 max-w-5xl mx-auto">
    <h2>
      Recent Posts
    </h2>
  </div>

  <div class="py-32 max-w-5xl mx-auto">
    <h2 class="text-center text-xl md:text-3xl font-medium">
      Featured Projects
    </h2>

    <p class="text-content-light text-lg mt-4 text-center">
      Made with love, to solve problems
    </p>

    <div class="mt-12 grid lg:grid-cols-3 lg:grid-rows-2 gap-8">
      <Project
        name="Fav"
        description="Generate favicon set for modern websites, effortlessly"
        link="https://fav.namchee.dev"
        repository="https://github.com/Namchee/fav"
        containerClass="md:row-span-2 md:col-span-2"
      >
        <img
          src="https://res.cloudinary.com/namchee/image/upload/v1665316986/personal-site/fav-showcase.webp"
          class="w-full
            lg:absolute
            lg:left-[50%]
            lg:-translate-x-[50%]
            mx-auto
            md:w-4/5
            rounded-lg
            translate-y-[36px]
            md:translate-y-[48px]
            shadow-sm
            transition
            group-hover:translate-y-[28px]
            md:group-hover:translate-y-[40px]
            group-hover:shadow-md"
          title="Fav"
          alt="Fav"
        />
      </Project>

      <Project
        name="Windgraph"
        description="Tailwind-powered Open-graph image generator"
        link="https://windgraph.vercel.app/api/og/**Hello**%20World!?template=hero"
        repository="https://github.com/Namchee/windgraph"
      >
        <p class="text-content-light font-mono mt-8 text-sm">
          NodeJS, Vercel
        </p>
      </Project>

      <Project
        name="cPR"
        description="Enforce conventions to pull requests on GitHub"
        repository="https://github.com/Namchee/conventional-pr"
      >
        <p class="text-content-light font-mono mt-8 text-sm">
          GoLang
        </p>
      </Project>
    </div>
  </div>
</Layout>

<style scoped>
  .arrow__before,
  .arrow__after,
  .about__text {
    transition: all 200ms cubic-bezier(0.33, 1, 0.68, 1);
  }

  .about__text {
    transform: translateX(8px);
  }

  .about__link:hover .arrow__before,
  .about__link:focus .arrow__before {
    opacity: 0;
  }

  .about__link:hover .about__text,
  .about__link:focus .about__text {
    transform: translateX(-32px);
  }

  .about__link:hover .arrow__after,
  .about__link:focus .arrow__after {
    opacity: 1;
    transform: translateX(-24px);
  }
</style>
