---
import Layout from '@/components/astro/Layout.astro';
import Project from '@/components/astro/Project.astro';
import Hero from '@/components/astro/Hero.astro';

import { Icon } from 'astro-iconify';
---

<Layout title="Build softwares → Solve problems" description="bar">
  <div class="py-32">
    <Hero />
  </div>

  <div class="py-32 flex justify-center mx-auto">
    <h2 class="text-2xl text-center">Recent Posts</h2>

    <p class="col-start-2 text-content-variant mt-4 text-center leading-normal">
      Food for thoughts, or just a passing whim
    </p>
  </div>

  <section class="py-32 max-w-5xl mx-auto">
    <h2 class="text-center text-xl md:text-3xl leading-normal">
      Featured Projects
    </h2>

    <p class="text-content-variant text-lg mt-4 text-center leading-normal">
      Made with love, to solve real problems
    </p>

    <div class="mt-12 grid lg:grid-cols-3 lg:grid-rows-2 gap-8">
      <Project
        name="Fav"
        description="Generate favicon set for modern websites, effortlessly"
        link="https://fav.namchee.dev"
        repository="https://github.com/Namchee/fav"
        containerClass="md:row-span-2 md:col-span-2"
      >
        <img
          src="https://res.cloudinary.com/namchee/image/upload/v1665316986/personal-site/fav-showcase.webp"
          class="w-full lg:absolute lg:left-[50%] lg:-translate-x-[50%] mx-auto md:w-4/5 rounded-lg translate-y-[36px] md:translate-y-[48px] shadow-sm transition group-hover:translate-y-[28px] md:group-hover:translate-y-[42px] group-hover:shadow-md"
          title="Fav"
          alt="Fav"
        />
      </Project>

      <Project
        name="Windgraph"
        description="Tailwind-powered Open-graph image generator"
        link="https://windgraph.vercel.app/api/og/**Hello**%20World!?template=hero"
        repository="https://github.com/Namchee/windgraph"
      >
        <p class="text-content-variant font-mono mt-8 text-sm">
          NodeJS, Vercel
        </p>
      </Project>

      <Project
        name="cPR"
        description="Enforce conventions to pull requests on GitHub"
        repository="https://github.com/Namchee/conventional-pr"
      >
        <p class="text-content-variant font-mono mt-8 text-sm">GoLang</p>
      </Project>
    </div>

    <p class="mt-24 text-center md:text-xl">
      <a
        class="inline-flex items-center repository__link"
        href="https://github.com/Namchee?tab=repositories"
        rel="noopener noreferrer"
        target="_blank"
      >
        <Icon name="radix-icons:arrow-right" class="w-6 external__before" />
        <span class="repository__text inline-block"> Find out more</span>
        <Icon
          name="radix-icons:arrow-top-right"
          class="w-6 -translate-x-8 opacity-0 external__after"
        />
      </a>
    </p>
  </section>
</Layout>

<style scoped>
  .arrow__before,
  .arrow__after,
  .about__text,
  .external__before,
  .external__after,
  .repository__text {
    transition: all 200ms easeOutQuad;
  }

  .about__text {
    transform: translateX(8px);
  }

  .arrow__before {
    transform: translateX(0);
    opacity: 1;
  }

  .about__link:hover .arrow__before,
  .about__link:focus .arrow__before {
    opacity: 0;
    transform: translateX(16px);
  }

  .about__link:hover .about__text,
  .about__link:focus .about__text {
    transform: translateX(-32px);
  }

  .about__link:hover .arrow__after,
  .about__link:focus .arrow__after {
    opacity: 1;
    transform: translateX(-24px);
  }

  .repository__text {
    transform: translateX(8px);
  }

  .external__before {
    transform: translateX(0);
    opacity: 1;
  }

  .repository__link:hover .external__before,
  .repository__link:focus .external__before {
    opacity: 0;
    transform: translateX(16px);
  }

  .repository__link:hover .repository__text,
  .repository__link:focus .repository__text {
    transform: translateX(-16px);
  }

  .repository__link:hover .external__after,
  .repository__link:focus .external__after {
    opacity: 1;
    transform: translateX(-12px);
  }
</style>
