---
import Layout from '@/components/astro/Layout.astro';
import Footer from '@/components/astro/v2/Footer.astro';
---

<Layout
  title="foo"
  description="bar">

  <h1>Under construction</h1>
  <Footer />
</Layout>
