---
import Layout from '@/components/astro/Layout.astro';
import Project from '@/components/astro/Project.astro';

import ArrowRight from '~icons/radix-icons/arrow-right';
---

<Layout title="foo" description="bar">
  <div class="my-32 flex flex-col text-xl max-w-4xl mx-auto">
    <p>
      Namchee — a <span class="text-accent">software engineer</span>
      based in Bandung, Indonesia. Likes to solve real-life problems through code.
      Passionate about open source and community movements.
    </p>

    <p>
      <a class="mt-12 inline-flex items-center about__link" href="/about">
        <ArrowRight class="w-8 -mt-1 arrow__before" />
        <span class="about__text inline-block">About Namchee</span>
        <ArrowRight class="w-8 -mt-1 -translate-x-8 opacity-0 arrow__after" />
      </a>
    </p>
  </div>

  <div class="my-32 max-w-5xl mx-auto">
    <h2 class="text-center text-2xl font-medium tracking-tight">
      Featured Projects
    </h2>

    <p class="text-content-light text-lg mt-2 text-center">
      Made with love, to solve problems
    </p>

    <div class="mt-12 grid md:grid-cols-3 md:grid-rows-2 gap-8">
      <Project
        name="Fav"
        description="Generate favicon set for modern websites, effortlessly"
        link="https://fav.namchee.dev"
        repository="https://github.com/Namchee/fav"
        containerClass="md:row-span-2 md:col-span-2"
      >
        <img
          src="https://res.cloudinary.com/namchee/image/upload/v1665149245/personal-site/fav-showcase.png"
          class="w-4/5 rounded-lg mt-10 absolute left-[50%] -translate-x-[50%]"
        />
      </Project>

      <Project
        name="Windgraph"
        description="Tailwind-powered Open-graph image generator"
        link="https://windgraph.vercel.app/api/og/**Hello**%20World!?template=hero"
        repository="https://github.com/Namchee/windgraph"
      >
        <p class="text-content-light font-mono mt-8 text-sm">
          NodeJS, Vercel
        </p>
      </Project>

      <Project
        name="cPR"
        description="Enforce conventions to pull requests on GitHub"
        repository="https://github.com/Namchee/conventional-pr"
      >
        <p class="text-content-light font-mono mt-8 text-sm">
          GoLang
        </p>
      </Project>
    </div>
  </div>
</Layout>

<style scoped>
  .arrow__before,
  .arrow__after,
  .about__text {
    transition: all 200ms cubic-bezier(0.33, 1, 0.68, 1);
  }

  .about__text {
    transform: translateX(8px);
  }

  .about__link:hover .arrow__before,
  .about__link:focus .arrow__before {
    opacity: 0;
  }

  .about__link:hover .about__text,
  .about__link:focus .about__text {
    transform: translateX(-32px);
  }

  .about__link:hover .arrow__after,
  .about__link:focus .arrow__after {
    opacity: 1;
    transform: translateX(-24px);
  }
</style>
