---
import { Icon } from "astro-icon/components";

import Layout from "@/components/astro/layout/Layout.astro";

import TextLink from "@/components/astro/ui/TextLink.astro";

import Profile from "@/components/astro/modules/home/Profile.astro";
import Projects from "@/components/astro/modules/home/Projects.astro";
import Posts from "@/components/astro/modules/home/Posts.astro";
import Experiences from "@/components/astro/modules/home/Experiences.astro";
import Books from "@/components/astro/modules/home/Books.astro";
import AppLink from "@/components/astro/ui/AppLink.astro";

const title = "Namchee — Software Engineer";
const description =
  "Namchee is a no-nonsense software engineer that is dedicated to solving real-life problems through performant and sustainable software-based solutions.";
---

<Layout title={title} description={description}>
  <section class=":uno: grid grid-cols-12 gap-4">
    <Profile />

    <div class="col-start-1 col-end-13 md:col-start-5 space-y-4 leading-[1.75]">
      <p>
        Hello, Halo, 你 好. My name is Cristopher, or Namchee in the online
        space. I'm a software engineer with passion of solving real-life
        problems through <span
          class="font-medium text-heading/85 transition-colors">performant</span
        > and <span class="font-medium text-heading/85 transition-colors"
          >sustainable</span
        > solutions. Currently, I create practical solutions at <TextLink
          href="https://glair.ai/"
        >
          GLAIR</TextLink
        >.
      </p>

      <p>
        I stumbled upon the world of code when I was searching for a way to
        cheat at a Facebook game during my junior high school days. Although my
        account got banned for trying to cheat, the journey serves as my first
        step into software engineering.
      </p>

      <p>
        Outside of professional work, I love playing around new tech I have
        discovered during my daily exploration. Whenever I feel the burnout is
        approaching fast, you can find me playing video games with my trusty
        little war machine or building my <TextLink href="/library"
          >reading habit</TextLink
        >.
      </p>
    </div>
  </section>

  <section class=":uno: grid grid-cols-12 gap-4">
    <h2
      class=":uno: col-start-1 col-end-13 transition-colors md:col-end-4 font-semibold tracking-tight text-heading"
    >
      Selected Projects
    </h2>

    <div class="col-start-1 col-end-13 md:col-start-5 space-y-4 leading-[1.75]">
      <Projects />

      <AppLink
        class=":uno: mt-8 inline-flex items-center hover:text-heading focus:text-heading arrow__link"
        href="https://github.com/Namchee?tab=repositories"
      >
        <Icon name="lucide:arrow-right" class=":uno: w-4 arrow__before" />
        <span class=":uno: link__text inline-block">View all projects</span>
        <Icon
          name="lucide:arrow-up-right"
          class=":uno: w-4 opacity-0 -translate-x-8 arrow__after"
        />
      </AppLink>
    </div>
  </section>

  <section class=":uno: grid grid-cols-12 gap-4">
    <h2
      class=":uno: col-start-1 col-end-13 md:col-end-4 font-semibold tracking-tight text-heading transition-colors"
    >
      Recent Posts
    </h2>

    <div class="col-start-1 col-end-13 md:col-start-5 space-y-4 leading-[1.75]">
      <Posts />

      <AppLink
        class=":uno: mt-8 inline-flex items-center arrow__link hover:text-heading focus:text-heading"
        href="/posts"
      >
        <Icon name="lucide:arrow-right" class=":uno: w-4 arrow__before" />
        <span class=":uno: link__text inline-block">See all posts</span>
        <Icon
          name="lucide:arrow-right"
          class=":uno: w-4 -translate-x-8 opacity-0 arrow__after"
        />
      </AppLink>
    </div>
  </section>

  <section class=":uno: grid grid-cols-12 gap-4">
    <h2
      class=":uno: col-start-1 col-end-13 md:col-end-4 font-semibold tracking-tight text-heading transition-colors"
    >
      Experiences
    </h2>

    <div class="col-start-1 col-end-13 md:col-start-5 space-y-4 leading-[1.75]">
      <Experiences />
    </div>
  </section>

  <section class=":uno: grid grid-cols-12 gap-4">
    <h2
      class=":uno: col-start-1 col-end-13 md:col-end-4 font-semibold tracking-tight text-heading transition-colors"
    >
      Now Reading
    </h2>

    <div class="col-start-1 col-end-13 md:col-start-5 space-y-4 leading-[1.75]">
      <Books />
    </div>
  </section>
</Layout>

<style>
  .arrow__before,
  .arrow__after,
  .link__text {
    transition: all 200ms cubic-bezier(0.33, 1, 0.68, 1);
  }

  .arrow__before {
    transform: translateX(-4px);
    opacity: 1;
  }

  .arrow__link:hover .arrow__before,
  .arrow__link:focus .arrow__before {
    opacity: 0;
    transform: translateX(16px);
  }

  .arrow__link:hover .link__text,
  .arrow__link:focus .link__text {
    transform: translateX(-16px);
  }

  .arrow__link:hover .arrow__after,
  .arrow__link:focus .arrow__after {
    opacity: 1;
    transform: translateX(-12px);
  }
</style>
