---
import Layout from '@/components/astro/v2/Layout.astro';
import Footer from '@/components/astro/v2/Footer.astro';
---

<Layout
  title="foo"
  description="bar">
  <div class="my-32">

  </div>
  <div class="my-32
    flex items-center
    text-xl
    max-w-4xl
    mx-auto">
    <p>
      Namchee — a <span class="text-accent">software engineer</span> based in Bandung, Indonesia. Likes to solve real-life problems through code. Passionate about open source and community movements.
    </p>
  </div>
</Layout>
