---
import { Icon } from "astro-iconify";

import Layout from "@/components/astro/layout/Layout.astro";

import TextLink from "@/components/astro/ui/TextLink.astro";

import Profile from "@/components/astro/modules/home/Profile.astro";
import Projects from "@/components/astro/modules/home/Projects.astro";
import Posts from "@/components/astro/modules/home/Posts.astro";
import Experiences from "@/components/astro/modules/home/Experiences.astro";
import Books from "@/components/astro/modules/home/Books.astro";
import AppLink from '@/components/astro/ui/AppLink.astro';
---

<Layout title="Build softwares → Solve problems" description="bar">
  <div class="grid grid-cols-12 gap-4 my-16 lg:my-32 px-8">
    <div class="col-start-1 col-end-13 md:col-end-5 lg:col-start-2 xl:col-start-3 xl:col-end-5">
      <Profile />
    </div>

    <div class="col-start-1 col-end-13 mt-12 md:mt-0 md:col-start-6 lg:col-end-12 xl:col-start-6 xl:col-end-11 space-y-16">
      <section class="space-y-4">
        <h2 class="font-medium tracking-tight text-heading">About me</h2>
        <p>
          Hello there. My name is Cristopher, but I'm commonly known as Namchee
          in the online space. I'm a software engineer based in Bandung,
          Indonesia. Currently, I create practical solutions at <TextLink
            href="https://glair.ai/"
          >
            GLAIR</TextLink>.
        </p>

        <p>
          I stumbled upon the world of code when I'm searching for a way to
          cheat at a Facebook game during my junior high school days. Although I
          failed to do so, the journey serves as my first step to software
          engineering.
        </p>

        <p>
          Outside professional work, I love playing around new tech I have discovered
          during my engineering journey. Whenever I feel the burn out is approaching fast,
          you can find me playing video games with my trusty little war machine or continue
          building my <TextLink href="/bookshelf">reading habit</TextLink>.
        </p>
      </section>

      <section>
        <h2 class="font-medium tracking-tight text-heading mb-4">
          Selected Projects
        </h2>

        <Projects />

        <AppLink
          class="mt-8 inline-flex items-center arrow__link hover:text-heading focus:text-heading"
          href="https://github.com/Namchee?tab=repositories"
        >
          <Icon name="lucide:arrow-right" class="w-4 external__before" />
          <span class="link__text inline-block">View all projects</span>
          <Icon
            name="lucide:arrow-up-right"
            class="w-4 -translate-x-8 opacity-0 external__after"
          />
        </AppLink>
      </section>

      <section>
        <h2 class="font-medium tracking-tight text-heading mb-4">
          Recent Posts
        </h2>

        <Posts />

        <AppLink
          class="mt-8 inline-flex items-center arrow__link hover:text-heading focus:text-heading"
          href="/posts"
        >
          <Icon name="lucide:arrow-right" class="w-4 external__before" />
          <span class="link__text inline-block">See all posts</span>
          <Icon
            name="lucide:arrow-right"
            class="w-4 -translate-x-8 opacity-0 external__after"
          />
        </AppLink>
      </section>

      <section class="space-y-4">
        <h2 class="font-medium tracking-tight text-heading">Experiences</h2>

        <Experiences />
      </section>

      <section>
        <h2 class="font-medium tracking-tight text-heading">Now Reading</h2>

        <div class="mt-8">
          <Books />
        </div>
      </section>
    </div>
  </div>
</Layout>

<style>
  .arrow__before,
  .arrow__after,
  .external__before,
  .external__after,
  .link__text {
    transition: all 200ms easeOutQuad;
  }

  .external__before {
    transform: translateX(-4px) translateY(-1.5px);
    opacity: 1;
  }

  .arrow__link:hover .external__before,
  .arrow__link:focus .external__before {
    opacity: 0;
    transform: translateX(16px);
  }

  .arrow__link:hover .link__text,
  .arrow__link:focus .link__text {
    transform: translateX(-16px);
  }

  .arrow__link:hover .external__after,
  .arrow__link:focus .external__after {
    opacity: 1;
    transform: translateX(-12px) translateY(-1.5px);
  }

</style>
