---
import { Icon } from "astro-iconify";

import AppLink from "@/components/astro/ui/AppLink.astro";
---

<AppLink
  href="/posts"
  class=":uno: grid fixed z-10 transition-all place-items-center h-10 w-10 dark:bg-surface dark:border-surface rounded-full border border-separator top-6 md:top-8 bg-background group hover:scale-105 focus:scale-105 shadow left-8"
>
  <Icon pack="lucide" name="arrow-left" class=":uno: w-4 h-auto" />
  <p
    class=":uno: shadow text-sm transition-all opacity-0 absolute -bottom-8 translate-y-1 group-hover:opacity-100 group-hover:translate-y-0 group-focus:opacity-100 group-focus:translate-y-0 focus-visible:outline-none"
  >
    Back
  </p>
</AppLink>
