---
import { Icon } from "astro-icon/components";

import AppLink from "@/components/astro/ui/AppLink.astro";
---

<AppLink
  class=":uno: inline-flex items-center hover:text-heading focus:text-heading arrow__link text-sm"
  href="/posts"
>
  <Icon name="lucide:arrow-left" class=":uno: w-4 arrow__before" />
  <span class=":uno: link__text inline-block">Back to Posts</span>
  <Icon
    name="lucide:arrow-left"
    class=":uno: w-4 opacity-0 -translate-x-8 arrow__after"
  />
</AppLink>

<style>
  .arrow__before,
  .arrow__after,
  .link__text {
    transition: all 200ms cubic-bezier(0.33, 1, 0.68, 1);
  }

  .arrow__before {
    transform: translateX(-4px);
    opacity: 1;
  }

  .arrow__link:hover .arrow__before,
  .arrow__link:focus .arrow__before {
    opacity: 0;
    transform: translateX(16px);
  }

  .arrow__link:hover .link__text,
  .arrow__link:focus .link__text {
    transform: translateX(-16px);
  }

  .arrow__link:hover .arrow__after,
  .arrow__link:focus .arrow__after {
    opacity: 1;
    transform: translateX(-12px);
  }
</style>
