---
import ArrowLeft from '~icons/lucide/arrow-left';

import AppLink from '@/components/astro/ui/AppLink.astro';
---

<AppLink
  class=":uno: arrow__link text-sm inline-flex items-center focus:text-heading hover:text-heading"
  href="/posts"
>
  <ArrowLeft class=":uno: arrow__before w-4" />
  <span class=":uno: link__text inline-block">Back to Posts</span>
  <ArrowLeft
    class=":uno: arrow__after opacity-0 w-4 -translate-x-8"
  />
</AppLink>

<style>
  .arrow__before,
  .arrow__after,
  .link__text {
    transition: all 200ms var(--default-transition-timingFunction);
  }

  .arrow__before {
    transform: translateX(-4px);
    opacity: 1;
  }

  .arrow__link:hover .arrow__before,
  .arrow__link:focus .arrow__before {
    opacity: 0;
    transform: translateX(16px);
  }

  .arrow__link:hover .link__text,
  .arrow__link:focus .link__text {
    transform: translateX(-16px);
  }

  .arrow__link:hover .arrow__after,
  .arrow__link:focus .arrow__after {
    opacity: 1;
    transform: translateX(20px);
  }
</style>
