---
import type { MarkdownHeading } from 'astro';

import { Icon } from 'astro-iconify';

import AppLink from '@/components/astro/ui/AppLink.astro';

import generateToC from '@/scripts/toc';

import ToCList from './TocList.astro';

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;
const tocList = generateToC(headings);
---

<nav class="flex flex-col sticky top-24 bottom-0 bg-surface p-4 rounded-md lg:bg-transparent lg:p-0">
  <p class="text-accent mb-4 font-semibold text-heading">
    In this post
  </p>

  <ToCList headings={tocList} />

  <AppLink href="#" class="lg:flex lg:items-center space-x-2 mt-8 text-heading hidden backToTop__button">
    <Icon pack="lucide" name="corner-left-up" class="w-4 h-auto" />
    <span>Back to Top</span>
  </AppLink>
</nav>

<script>
  const backToTop = document.querySelector('.backToTop__button');
  backToTop.addEventListener('click', () => {
    window.scrollTo(0, 0);
  });

  const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
      const id = entry.target.id;
      if (entry.intersectionRatio > 0) {
        document.querySelector(`nav ul li a[href="#${id}"]`).classList.add('text-primary', 'font-medium')
      } else {
        document.querySelector(`nav ul li a[href="#${id}"]`).classList.remove('text-primary', 'font-medium')
      }
    });
  });

  const tocLinks = document.querySelectorAll('h2[id], h3[id]');
  tocLinks.forEach(link => observer.observe(link));
</script>
