---
import AppLink from "@/components/astro/ui/AppLink.astro";

import type { Heading } from "@/scripts/toc";

interface Props {
  headings: Heading[];
}

const { headings } = Astro.props;

const marginMap = {
  2: "pl-0",
  3: "pl-4 first:mt-2",
  4: "pl-8 first:mt-2",
  5: "pl-12 first:mt-2",
};
---

<ul class=":uno: space-y-2">
  {
    headings.map((head) => (
      <li class={marginMap[head.depth]}>
        <AppLink
          href={`#${head.slug}`}
          class=":uno: text-content transition-all text-sm"
          tabindex={-1}
        >
          {head.text}
        </AppLink>

        {head.subheadings.length > 0 && (
          <Astro.self headings={head.subheadings} />
        )}
      </li>
    ))
  }
</ul>
