---
import '@/assets/styles/global.css';

import Navigation from '@/components/Navigation.astro';
import Footer from '@/components/vue/Footer.vue';

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>{title} &mdash; Namchee</title>
</head>
<body class="font-sans bg-light text-gray-800 min-h-screen flex flex-col">
  <Navigation />
	<main class="flex-1">
		<slot />
	</main>
  <Footer />
</body>
</html>
