---
import Link from '@/components/vue/AppLink.vue';
import Logo from '@/components/vue/Logo.vue';
import NavigationLinks from '@/components/vue/NavigationLinks.vue';

const { pathname } = new URL(Astro.request.url);
---

<nav class="w-full h-28 grid place-items-center">
  <div
    class="w-full
      max-w-7xl
      flex justify-between
      px-20
      xl:px-0">
    <Link href="/">
      <Logo client:load />
    </Link>
    <NavigationLinks currentPath={pathname} />
  </div>
</nav>
