---
import { cva } from 'class-variance-authority';
import AlertTriangle from '~icons/lucide/alert-triangle';
import CircleX from '~icons/lucide/circle-x';
import Lightbulb from '~icons/lucide/lightbulb';

interface Props {
  variant: 'note' | 'warning' | 'danger';
}

const { variant } = Astro.props;

const container = cva(
  ':uno: relative transition-colors p-4 my-4 border-l-2 rounded-r-md transition-colors',
  {
    variants: {
      variant: {
        note: ':uno: bg-[var(--indigo-500)]/10 border-[var(--indigo-500)] text-accent',
        warning: ':uno: bg-warning/10 border-warning text-warning',
        danger: ':uno: bg-danger/10 border-danger text-danger',
      },
    },
    defaultVariants: {
      variant: 'note',
    },
  },
);

const iconContainer = cva(
  ':uno: absolute size-[28px] rounded-full -top-[14px] -left-[15px] grid place-items-center transition-colors transition-colors',
  {
    variants: {
      variant: {
        note: 'bg-accent dark:bg-[var(--indigo-500)]',
        warning: 'bg-warning',
        danger: 'bg-danger',
      },
    },
    defaultVariants: {
      variant: 'note',
    },
  },
);

const icon = {
  note: Lightbulb,
  warning: AlertTriangle,
  danger: CircleX,
};

const IconComponent = icon[variant];
---

<div class:list={[container({ variant }), `callout__${variant}`]}>
  <div class:list={iconContainer({ variant })}>
    <IconComponent class=":uno: text-white size-4" />
  </div>

  <slot />
</div>
