---
const { title, lang } = Astro.props;

let html = await Astro.slots.render('default');
html = html.replace('<span class="line"></span>', '');
---

<div class:list={['mt-8!', 'mb-8!', 'overflow-hidden', 'border', 'border-separator', 'rounded-md']}>
  <div class="flex justify-between items-center text-xs p-3 border-b border-separator rounded-t-md bg-surface">
    <p>
      {title}
    </p>

    <p class="font-mono text-xs text-heading">
      {lang}
    </p>
  </div>

  <Fragment set:html={html} />
</div>
