---
import { parseDocument } from "htmlparser2";

import { codeToHtml, type BundledLanguage } from "shiki";
import { transformerNotationHighlight } from "@shikijs/transformers";

import { Icon } from "astro-icon/components";

import CopyCode from "@/components/vue/CopyCode.vue";

type DataElement = {
  attribs: Record<string, string>;
  children: { data: string }[];
};

const html = await Astro.slots.render("default");
const document = parseDocument(html);

const { children, attribs } = document.children[0] as unknown as DataElement;

const text = children[0].data.trim();

const lang = attribs["class"].split("-").pop() as BundledLanguage;
const codeProps = {};
attribs["metastring"].split(",").forEach((prop) => {
  const tokens = prop.split("=");
  codeProps[tokens[0].trim()] = tokens[1];
});

const title = codeProps["title"];
const isCopyable = "copyable" in codeProps;

const htmlCode = await codeToHtml(text, {
  lang,
  themes: {
    light: "github-light",
    dark: "tokyo-night",
  },
  transformers: [transformerNotationHighlight()],
});
---

<div
  class:list={[
    "mt-8!",
    "mb-8!",
    "border",
    "border-separator",
    "rounded-md",
  ]}
>
  {
    (title || isCopyable) && (
      <div class="flex justify-between items-center text-xs leading-normal p-3 border-b border-separator rounded-t-md bg-surface text-balance">
        <p>{title}</p>

        {isCopyable && (
          <CopyCode code={text} client:visible>
            <Icon
              name="lucide:clipboard"
              class=":uno: w-[14px] h-auto transition-colors text-content/75 group-hover:text-heading group-focus:text-heading"
            />
          </CopyCode>
        )}
      </div>
    )
  }

  <div class="flex relative overflow-x-auto">
    <p class="absolute top-3 right-4 font-mono text-sm text-content/50">
      {lang}
    </p>

    <Fragment set:html={htmlCode} />
  </div>
</div>
