---
import ArrowRight from '~icons/lucide/arrow-right';

const { class: className } = Astro.props;
---

<dt class=":uno: inline-flex space-x-2 mb-0!">
  <ArrowRight class=":uno: text-accent flex-shrink-0 h-auto w-4 translate-y-[35%] self-start" />
  <span class:list={[':uno: font-semibold text-heading transition-colors', className]}><slot /></span>
</dt>
