---
import { Icon } from "astro-icon/components";

const { class: className } = Astro.props;
---

<dt class=":uno: inline-flex space-x-2">
  <Icon name="lucide:arrow-right" class=":uno: w-4 h-auto text-accent flex-shrink-0 self-start translate-y-[35%]" />
  <span class:list={[":uno: font-semibold text-heading transition-colors", className]}><slot /></span>
</dt>
