---
import type { HTMLAttributes } from "astro/types";

import { Icon } from "astro-icon/components";

import AppLink from "@/components/astro/ui/AppLink.astro";

type Props = HTMLAttributes<"h2">;

const { id, ...props } = Astro.props;
---

<h2
  class=":uno: group inline-flex items-center text-xl font-semibold text-heading transition-colors mt-12!"
  id={id}
  {...props}
>
  <slot />
  <AppLink
    href={`#${id}`}
    class=":uno: hover:text-primary opacity-0 group-hover:opacity-100 transition-all ml-1 text-content/70"
    aria-label={id}
  >
    <Icon
      name="lucide:hash"
      class=":uno: h-auto w-5"
      aria-hidden="true"
    />
  </AppLink>
</h2>
