---
import type { HTMLAttributes } from 'astro/types';

import Hash from '~icons/lucide/hash';

import AppLink from '@/components/astro/ui/AppLink.astro';

type Props = HTMLAttributes<'h2'>;

const { id, ...props } = Astro.props;
---

<h2
  class=":uno: group text-lg text-heading font-semibold inline-flex transition-colors items-center relative md:text-xl mt-8!"
  id={id}
  {...props}
>
  <slot />
  <AppLink
    href={`#${id}`}
    class=":uno: text-content/70 opacity-0 translate-y-0 transition-all absolute hover:text-content group-hover:opacity-100 -left-6 md:-left-7"
    aria-label={id}
  >
    <Hash class=":uno: h-auto w-5 md:w-6" aria-hidden="true" />
  </AppLink>
</h2>
