---
import type { HTMLAttributes } from "astro/types";

import { Icon } from "astro-iconify";

import AppLink from "@/components/astro/ui/AppLink.astro";

type Props = HTMLAttributes<"h3">;

const { id, ...props } = Astro.props;
---

<h3
  class=":uno: group inline-flex items-center text-heading font-semibold transition-colors text-lg"
  id={id}
  {...props}
>
  <slot />
  <AppLink
    href={`#${id}`}
    class=":uno: ml-1 text-content/70 hover:text-primary opacity-0 group-hover:opacity-100 transition-all"
    aria-hidden="true"
  >
    <Icon pack="lucide" name="hash" class=":uno: w-4 h-auto" aria-hidden="true" />
  </AppLink>
</h3>
