---
import type { HTMLAttributes } from "astro/types";

import { Icon } from "astro-icon/components";

import AppLink from "@/components/astro/ui/AppLink.astro";

type Props = HTMLAttributes<"h2">;

const { id, ...props } = Astro.props;
---

<h2
  class=":uno: relative group inline-flex items-center text-lg md:text-2xl font-semibold text-heading transition-colors mt-8!"
  id={id}
  {...props}
>
  <slot />
  <AppLink
    href={`#${id}`}
    class=":uno: absolute translate-y-0 -left-6 md:-left-7 opacity-0 group-hover:opacity-100 transition-all text-content/70 hover:text-content"
    aria-label={id}
  >
    <Icon
      name="lucide:hash"
      class=":uno: h-auto w-5 md:w-6"
      aria-hidden="true"
    />
  </AppLink>
</h2>
