---
import { Icon } from "astro-iconify";
---

<dt class=":uno: flex items-center space-x-2">
  <Icon pack="lucide" name="arrow-right" class=":uno: w-4 h-auto text-primary" />
  <span class=":uno: font-semibold text-heading transition-colors"><slot /></span>
</dt>
