---
import { Icon } from "astro-icon/components";

const { class: className } = Astro.props;
---

<dt class=":uno: flex items-center space-x-2">
  <Icon name="lucide:arrow-right" class=":uno: w-4 h-auto text-content/70" />
  <span class:list={[":uno: font-semibold text-heading transition-colors", className]}><slot /></span>
</dt>
