---
import { Icon } from "astro-iconify";
---

<dt class="flex items-center space-x-2">
  <Icon pack="lucide" name="arrow-right" class="w-4 h-auto text-primary" />
  <span class="font-semibold text-heading"><slot /></span>
</dt>
