---
import AppLink from '@/components/astro/ui/AppLink.astro';
import Pulse from '@/components/astro/ui/Pulse.astro';

const experiences = [
  {
    duration: 'Current',
    name: 'GLAIR',
    title: 'Software Engineer',
    link: 'https://glair.ai/',
  },
  {
    duration: '2021 – 2023',
    name: 'Tokopedia',
    title: 'Software Engineer',
    link: 'https://www.tokopedia.com/about/',
  },
  {
    duration: '2017 – 2021',
    name: 'Parahyangan Catholic University',
    title: 'Bachelor Degree',
    link: 'https://informatika.unpar.ac.id/',
  },
];
---

<ul class=":uno: space-y-6 md:space-y-3">
  {
    experiences.map((exp) => (
      <li class=":uno: md:grid items-center gap-x-4 grid-cols-[10ch_1fr_max-content]">
        <p class=":uno: flex items-center space-x-2 text-sm md:text-base mb-2 ml-auto md:mb-0">
          {exp.duration.toLowerCase() === 'current' && (
            <Pulse class=":uno: -mt-[2.5px]" />
          )}
          <span>{exp.duration}</span>
        </p>

        <AppLink
          href={exp.link}
          class=":uno: font-medium text-heading transition-colors hover:text-primary focus:text-primary inline-flex items-center space-x-2 text-balance"
        >
          {exp.name}
        </AppLink>

        <p>{exp.title}</p>
      </li>
    ))
  }
</ul>
