---
import AppLink from '@/components/astro/ui/AppLink.astro';
import Pulse from '@/components/astro/ui/Pulse.astro';

const experiences = [
  {
    duration: 'Current',
    name: 'GLAIR',
    title: 'Software Engineer',
    link: 'https://glair.ai/',
  },
  {
    duration: '2021 – 2023',
    name: 'Tokopedia',
    title: 'Software Engineer',
    link: 'https://www.tokopedia.com/about/',
  },
];
---

<ul class=":uno: space-y-2">
  {
    experiences.map(exp => (
      <li class=":uno: gap-x-4 grid grid-cols-[1fr_max-content] items-center md:grid-cols-[10ch_1fr_max-content]">
        <p class=":uno: ml-auto flex items-center order-1 space-x-2 md:order-0">
          {exp.duration.toLowerCase() === 'current' && (
            <Pulse />
          )}
          <span style="font-feature-settings:  'cv05' 1, 'zero' 1, 'ss03' 1, 'cv09' 1, 'cv10' 1, 'tnum' 1;">{exp.duration}</span>
        </p>

        <AppLink
          href={exp.link}
          class=":uno: text-heading/80 font-medium inline-flex w-fit text-balance transition-colors items-center space-x-2 focus:text-heading hover:text-heading"
        >
          {exp.name}
        </AppLink>

        <p class="text-sm order-2 md:text-base md:order-0">{exp.title}</p>
      </li>
    ))
  }
</ul>
