---
import { getCollection } from 'astro:content';

import AppLink from '@/components/astro/ui/AppLink.astro';

const posts = (await getCollection('posts')).
  filter(post => !post.data.isDraft).
  sort((a, b) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime()).
  slice(0, 3);
---

<!-- reduce spacing for one-liners -->
<ul class=":uno: space-y-2">
  {
    posts.map(post => (
      <li class=":uno: flex flex-col gap-x-4 md:flex-row md:items-center md:justify-between">
        <AppLink
          href={`/posts/${post.id}`}
          class=":uno: text-heading/80 font-medium inline-flex text-balance transition-colors items-center space-x-2 focus:text-heading hover:text-heading"
        >
          {post.data.title}
        </AppLink>

        <p class=":uno: text-sm md:text-base">{post.data.publishedAt.toLocaleString('en-GB', {
          year: '2-digit',
          month: 'short',
          day: 'numeric',
        })}</p>
      </li>
    ))
  }
</ul>
