---
import LogoContainer from "@/components/astro/ui/Card.astro";

import SpeechButton from "@/components/astro/modules/home/SpeechButton.astro";
---

<div class=":uno: flex space-x-4 md:space-x-0 md:block">
  <LogoContainer class=":uno: min-w-16 min-h-16">
    <svg
      viewBox="0 0 49 55"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
      class=":uno: text-heading w-12 h-12 transition-colors"
    >
      <path
        d="M6.41765 31.6506C7.70765 29.4162 9.29028 27.815 11.1656 26.847C13.0512 25.8849 15.1002 25.516 17.3125 25.7402C19.5248 25.9643 21.7793 26.7394 24.076 28.0654C26.3727 29.3914 28.1712 30.9563 29.4715 32.7602C30.7718 34.564 31.4716 36.5199 31.5708 38.628C31.6805 40.742 31.0903 42.9162 29.8003 45.1506C28.2943 47.759 26.394 49.5025 24.0994 50.3808C21.8152 51.2652 19.3737 51.366 16.775 50.6831L17.517 47.9939C19.5701 48.5418 21.4733 48.4975 23.2265 47.8608C24.9797 47.2241 26.4384 45.8977 27.6024 43.8816C28.6164 42.1253 29.0593 40.4342 28.9311 38.8082C28.8028 37.1823 28.1927 35.6591 27.1005 34.2388C26.0128 32.8348 24.5396 31.5824 22.681 30.4816C20.8164 29.3912 19.0042 28.726 17.2444 28.486C15.4787 28.2564 13.8515 28.4947 12.3629 29.201C10.8787 29.9238 9.62962 31.1633 8.61562 32.9196C7.45162 34.9357 7.03223 36.8621 7.35747 38.6988C7.69309 40.5414 8.60624 42.2118 10.0969 43.7099L8.13899 45.6971C6.24825 43.788 5.10958 41.6202 4.72297 39.1938C4.34675 36.7735 4.91165 34.259 6.41765 31.6506Z"
      ></path>
      <path
        d="M42.3839 23.5154C41.0939 25.7498 39.5112 27.351 37.636 28.319C35.7503 29.2811 33.7013 29.65 31.489 29.4259C29.2767 29.2017 27.0222 28.4266 24.7255 27.1006C22.4288 25.7746 20.6303 24.2097 19.33 22.4059C18.0297 20.602 17.3299 18.6461 17.2307 16.538C17.121 14.424 17.7112 12.2498 19.0012 10.0154C20.5072 7.40697 22.4075 5.66355 24.7021 4.78517C26.9863 3.90079 29.4278 3.80003 32.0265 4.48289L31.2845 7.17215C29.2314 6.6242 27.3282 6.66857 25.575 7.30525C23.8218 7.94193 22.3632 9.26833 21.1992 11.2844C20.1852 13.0407 19.7423 14.7319 19.8705 16.3578C19.9987 17.9837 20.6088 19.5069 21.701 20.9272C22.7887 22.3312 24.2619 23.5836 26.1205 24.6844C27.9851 25.7748 29.7973 26.44 31.5571 26.68C33.3228 26.9096 34.95 26.6713 36.4386 25.965C37.9228 25.2423 39.1719 24.0027 40.1859 22.2464C41.3499 20.2303 41.7693 18.3039 41.444 16.4673C41.1084 14.6246 40.1953 12.9542 38.7046 11.4562L40.6625 9.46889C42.5533 11.378 43.6919 13.5458 44.0785 15.9722C44.4548 18.3925 43.8899 20.907 42.3839 23.5154Z"
      ></path>
      <path
        d="M18.9317 45.1896C17.6417 42.9553 17.0464 40.7841 17.1456 38.676C17.2553 36.562 17.9603 34.603 19.2606 32.7992C20.5609 30.9954 22.3594 29.4305 24.6561 28.1045C26.9528 26.7785 29.2073 26.0034 31.4196 25.7792C33.6319 25.555 35.6757 25.927 37.5509 26.895C39.4366 27.8571 41.0244 29.4553 42.3144 31.6896C43.8204 34.2981 44.3801 36.8155 43.9935 39.2419C43.6173 41.6623 42.4838 43.827 40.5931 45.7362L38.6351 43.7489C40.1362 42.2449 41.0494 40.5745 41.3746 38.7378C41.6998 36.9011 41.2804 34.9747 40.1164 32.9586C39.1024 31.2023 37.8593 29.9732 36.3871 29.2713C34.9149 28.5693 33.2907 28.3362 31.5146 28.5718C29.7549 28.8119 27.9337 29.4615 26.0511 30.5207C24.1745 31.5903 22.6923 32.8271 21.6045 34.2311C20.5228 35.6454 19.9156 37.1738 19.783 38.8161C19.6668 40.4628 20.1157 42.1643 21.1297 43.9206C22.2937 45.9367 23.7523 47.2631 25.5055 47.8998C27.2692 48.5305 29.1723 48.5749 31.215 48.0329L31.9571 50.7222C29.3583 51.405 26.9117 51.3073 24.617 50.4289C22.3328 49.5445 20.4377 47.7981 18.9317 45.1896Z"
      ></path>
      <path
        d="M29.8698 9.97637C31.1598 12.2107 31.7552 14.3819 31.6559 16.49C31.5462 18.604 30.8412 20.563 29.5409 22.3668C28.2406 24.1706 26.4421 25.7355 24.1454 27.0615C21.8487 28.3875 19.5942 29.1626 17.3819 29.3868C15.1696 29.611 13.1259 29.239 11.2506 28.271C9.36493 27.3089 7.7771 25.7107 6.4871 23.4764C4.9811 20.8679 4.4214 18.3505 4.80801 15.9241C5.18423 13.5037 6.3177 11.339 8.20844 9.42982L10.1664 11.4171C8.66531 12.9211 7.75215 14.5915 7.42692 16.4282C7.10169 18.2649 7.52107 20.1913 8.68507 22.2074C9.69907 23.9637 10.9422 25.1928 12.4144 25.8947C13.8866 26.5967 15.5108 26.8298 17.2869 26.5942C19.0466 26.3542 20.8678 25.7045 22.7504 24.6453C24.6271 23.5757 26.1092 22.3389 27.197 20.9349C28.2787 19.5206 28.8859 17.9922 29.0185 16.3499C29.1347 14.7032 28.6858 13.0017 27.6718 11.2454C26.5078 9.22927 25.0492 7.90287 23.296 7.26619C21.5323 6.6355 19.6292 6.59114 17.5865 7.13309L16.8444 4.44382C19.4432 3.76097 21.8899 3.85873 24.1845 4.73711C26.4687 5.62148 28.3638 7.36791 29.8698 9.97637Z"
      ></path>
      <path
        d="M36.9147 41.123C34.3347 41.123 32.1567 40.553 30.3807 39.413C28.6047 38.261 27.2607 36.671 26.3487 34.643C25.4367 32.615 24.9807 30.275 24.9807 27.623C24.9807 24.971 25.4367 22.631 26.3487 20.603C27.2607 18.575 28.6047 16.991 30.3807 15.851C32.1567 14.699 34.3347 14.123 36.9147 14.123C39.9267 14.123 42.3867 14.897 44.2947 16.445C46.2027 17.981 47.5107 20.045 48.2187 22.637L45.5187 23.339C44.9667 21.287 43.9767 19.661 42.5487 18.461C41.1207 17.261 39.2427 16.661 36.9147 16.661C34.8867 16.661 33.2007 17.123 31.8567 18.047C30.5127 18.971 29.4987 20.261 28.8147 21.917C28.1427 23.561 27.7947 25.463 27.7707 27.623C27.7587 29.783 28.0887 31.685 28.7607 33.329C29.4447 34.973 30.4647 36.263 31.8207 37.199C33.1887 38.123 34.8867 38.585 36.9147 38.585C39.2427 38.585 41.1207 37.985 42.5487 36.785C43.9767 35.573 44.9667 33.947 45.5187 31.907L48.2187 32.609C47.5107 35.201 46.2027 37.271 44.2947 38.819C42.3867 40.355 39.9267 41.123 36.9147 41.123Z"
      ></path>
      <path
        d="M11.8868 14.0439C14.4668 14.0439 16.6448 14.6139 18.4208 15.7539C20.1968 16.9059 21.5408 18.4959 22.4528 20.5239C23.3648 22.5519 23.8208 24.8919 23.8208 27.5439C23.8208 30.1959 23.3648 32.5359 22.4528 34.5639C21.5408 36.5919 20.1968 38.1759 18.4208 39.3159C16.6448 40.4679 14.4668 41.0439 11.8868 41.0439C8.8748 41.0439 6.4148 40.2699 4.5068 38.7219C2.5988 37.1859 1.2908 35.1219 0.5828 32.5299L3.2828 31.8279C3.8348 33.8799 4.8248 35.5059 6.2528 36.7059C7.6808 37.9059 9.5588 38.5059 11.8868 38.5059C13.9148 38.5059 15.6008 38.0439 16.9448 37.1199C18.2888 36.1959 19.3028 34.9059 19.9868 33.2499C20.6588 31.6059 21.0068 29.7039 21.0308 27.5439C21.0428 25.3839 20.7128 23.4819 20.0408 21.8379C19.3568 20.1939 18.3368 18.9039 16.9808 17.9679C15.6128 17.0439 13.9148 16.5819 11.8868 16.5819C9.5588 16.5819 7.6808 17.1819 6.2528 18.3819C4.8248 19.5939 3.8348 21.2199 3.2828 23.2599L0.5828 22.5579C1.2908 19.9659 2.5988 17.8959 4.5068 16.3479C6.4148 14.8119 8.8748 14.0439 11.8868 14.0439Z"
      ></path>
    </svg>
  </LogoContainer>

  <div class=":uno: md:mt-4">
    <h1
      class=":uno: text-heading font-semibold text-2xl tracking-tight transition-colors"
    >
      Namchee
    </h1>
    <p class=":uno: flex items-center space-x-2 leading-normal text-lg">
      <span class=":uno: whitespace-nowrap">/nam·cé/</span>
      <SpeechButton />
    </p>
  </div>
</div>
