---
import { Icon } from "astro-icon/components";
---

<button
  aria-label="Pronounce Namchee"
  class=":uno: rounded-full border border-separator hover:bg-surface transition-colors grid place-items-center dark:border-none dark:bg-surface hover:text-content dark:hover:bg-separator p-1 speech__button"
>
  <Icon name="lucide:volume-2" class=":uno: w-4 h-auto fill-current" />
</button>

<script is:inline>
  if (
    typeof window.speechSynthesis !== "undefined" &&
    typeof window.SpeechSynthesisUtterance !== "undefined"
  ) {
    const utterance = new window.SpeechSynthesisUtterance("Nam ché");
    utterance.lang = "id-ID";
    utterance.pitch = 1.35;

    const button = document.querySelector(".speech__button");
    button.addEventListener("click", () => {
      window.speechSynthesis.speak(utterance);
    });
  }
</script>
