---
import TextLink from '@/components/astro/v2/TextLink.astro';
---

<footer class="w-full">
  <div class="w-full
    mx-auto
    max-w-5xl
    border-t border-t-surface-darker
    flex items-center justify-between
    py-8"
  >
    <!-- start: left side -->
    <div>
      <p>
        Hey, this site is open-sourced!
      </p>
      <TextLink
        theme="accent"
        href="https://www.github.com/Namchee/site"
        external
      >
        Go check it out
      </TextLink>
    </div>
    <!-- end: left side -->

    <!-- start: right side -->
    <div
      class="flex items-center
        space-x-8"
    >
      <TextLink
        theme="content"
        href="mailto:im-cristopher@proton.me"
        external>
        Mail
      </TextLink>
      <TextLink
        theme="content"
        href="https://www.github.com/Namchee"
        external>
        GitHub
      </TextLink>
      <TextLink
        theme="content"
        href="https://www.linkedin.com/in/namchee/"
        external>
        LinkedIn
      </TextLink>
      <TextLink
        theme="content"
        href="https://twitter.com/lakban_hitam"
        external>
        Twitter
      </TextLink>
    </div>
    <!-- end: right side -->
  </div>
</footer>
