:root {
  --gray-modern-25: oklch(0.9913 0.0013 286.38);
  --gray-modern-50: oklch(0.9842 0.0034 247.86);
  --gray-modern-100: oklch(0.9593 0.0069 247.9);
  --gray-modern-200: oklch(0.9292 0.0109 256.7);
  --gray-modern-300: oklch(0.8699 0.0163 253.91);
  --gray-modern-400: oklch(0.7152 0.0233 256.76);
  --gray-modern-500: oklch(0.5585 0.0301 257.07);
  --gray-modern-600: oklch(0.4469 0.0292 259.77);
  --gray-modern-700: oklch(0.3726 0.0328 258.99);
  --gray-modern-800: oklch(0.28 0.0323 261.69);
  --gray-modern-900: oklch(0.2131 0.0279 262.4);
  --gray-modern-950: oklch(0.1822 0.0221 263.79);

  --gray-true-25: oklch(0.9911 0 0);
  --gray-true-50: oklch(0.9851 0 0);
  --gray-true-100: oklch(0.9702 0 0);
  --gray-true-200: oklch(0.9219 0 0);
  --gray-true-300: oklch(0.8761 0 0);
  --gray-true-400: oklch(0.7155 0 0);
  --gray-true-500: oklch(0.5555 0 0);
  --gray-true-600: oklch(0.4386 0 0);
  --gray-true-700: oklch(0.3791 0 0);
  --gray-true-800: oklch(0.2809 0 0);
  --gray-true-900: oklch(0.1913 0 0);
  --gray-true-950: oklch(0.1684 0 0);

  --indigo-25: oklch(0.9789 0.009857 267.36);
  --indigo-50: oklch(0.9658 0.0161 262.75);
  --indigo-100: oklch(0.9358 0.0304 265.33);
  --indigo-200: oklch(0.8798 0.0568 267.64);
  --indigo-300: oklch(0.8011 0.0964 268.55);
  --indigo-400: oklch(0.7034 0.1446 271.74);
  --indigo-500: oklch(0.6071 0.1923 273.59);
  --indigo-600: oklch(0.5147 0.2287 272.81);
  --indigo-700: oklch(0.451 0.2216 272.3);
  --indigo-800: oklch(0.3963 0.1825 272.9);
  --indigo-900: oklch(0.3642 0.1324 274.97);
  --indigo-950: oklch(0.2893 0.0989 275.26);

  --yellow-25: oklch(0.9913 0.0171 103.14);
  --yellow-50: oklch(0.9896 0.0051 67.76);
  --yellow-100: oklch(0.9689 0.0671 101.15);
  --yellow-200: oklch(0.9427 0.1109 99.31);
  --yellow-300: oklch(0.9132 0.135 96);
  --yellow-400: oklch(0.8469 0.1701 88.54);
  --yellow-500: oklch(0.778 0.1595 81.11);
  --yellow-600: oklch(0.6712 0.1425 72.57);
  --yellow-700: oklch(0.5427 0.1228 61.75);
  --yellow-800: oklch(0.4705 0.1047 59.08);
  --yellow-900: oklch(0.3945 0.1134 34.38);
  --yellow-950: oklch(0.306 0.0827 34.23);

  --green-25: oklch(0.9897 0.0107 158.85);
  --green-50: oklch(0.9772 0.0205 156.83);
  --green-100: oklch(0.946 0.0509 155.76);
  --green-200: oklch(0.8969 0.0926 156.42);
  --green-300: oklch(0.8305 0.1368 156.75);
  --green-400: oklch(0.7487 0.1632 155.29);
  --green-500: oklch(0.6745 0.1665 153.67);
  --green-600: oklch(0.5799 0.1448 153.76);
  --green-700: oklch(0.4924 0.1176 155.65);
  --green-800: oklch(0.4195 0.0959 157.03);
  --green-900: oklch(0.3687 0.0821 157.84);
  --green-950: oklch(0.2679 0.0559 159.6);

  --red-25: oklch(0.9909 0.0045 34.31);
  --red-50: oklch(0.9725 0.0119 23.7);
  --red-100: oklch(0.9394 0.0288 22.95);
  --red-200: oklch(0.89 0.0559 22.35);
  --red-300: oklch(0.8014 0.1094 24.57);
  --red-400: oklch(0.7086 0.1699 26.47);
  --red-500: oklch(0.6371 0.2104 28.54);
  --red-600: oklch(0.5758 0.2088 29.48);
  --red-700: oklch(0.5003 0.1821 29.51);
  --red-800: oklch(0.4322 0.15 28.99);
  --red-900: oklch(0.3975 0.1183 31.52);
  --red-950: oklch(0.3046 0.0952 31.72);
}
