:root {
  --gray-light-25: oklch(0.994 0 0);
  --gray-light-50: oklch(0.9851 0 0);
  --gray-light-100: oklch(0.9702 0 0);
  --gray-light-200: oklch(0.9366 0.0017 247.84);
  --gray-light-300: oklch(0.8785 0.0047 258.33);
  --gray-light-400: oklch(0.7281 0.0106 267.33);
  --gray-light-500: oklch(0.565 0.0165 264.43);
  --gray-light-600: oklch(0.4596 0.0174 264.39);
  --gray-light-700: oklch(0.3938 0.0197 266.05);
  --gray-light-800: oklch(0.2886 0.0236 264.1);
  --gray-light-900: oklch(0.2304 0.0209 264.04);
  --gray-light-950: oklch(0.1582 0.0118 260.62);

  --gray-dark-25: oklch(0.9851 0 0);
  --gray-dark-50: oklch(0.9761 0 0);
  --gray-dark-100: oklch(0.9554 0.0013 286.37);
  --gray-dark-200: oklch(0.937 0 0);
  --gray-dark-300: oklch(0.8795 0.0014 286.37);
  --gray-dark-400: oklch(0.7322 0.0028 286.33);
  --gray-dark-500: oklch(0.5725 0.0033 264.53);
  --gray-dark-600: oklch(0.4674 0.0035 264.53);
  --gray-dark-700: oklch(0.4018 0.0052 271.29);
  --gray-dark-800: oklch(0.2973 0.0056 271.23);
  --gray-dark-900: oklch(0.2088 0.0042 264.48);
  --gray-dark-950: oklch(0.16 0.0042 285.92);

  --indigo-25: oklch(0.9789 0.009857 267.36);
  --indigo-50: oklch(0.9658 0.0161 262.75);
  --indigo-100: oklch(0.9358 0.0304 265.33);
  --indigo-200: oklch(0.8798 0.0568 267.64);
  --indigo-300: oklch(0.8011 0.0964 268.55);
  --indigo-400: oklch(0.7034 0.1446 271.74);
  --indigo-500: oklch(0.6071 0.1923 273.59);
  --indigo-600: oklch(0.5147 0.2287 272.81);
  --indigo-700: oklch(0.451 0.2216 272.3);
  --indigo-800: oklch(0.3963 0.1825 272.9);
  --indigo-900: oklch(0.3642 0.1324 274.97);
  --indigo-950: oklch(0.2893 0.0989 275.26);

  --yellow-25: oklch(0.9913 0.0171 103.14);
  --yellow-50: oklch(0.9896 0.0051 67.76);
  --yellow-100: oklch(0.9689 0.0671 101.15);
  --yellow-200: oklch(0.9427 0.1109 99.31);
  --yellow-300: oklch(0.9132 0.135 96);
  --yellow-400: oklch(0.8469 0.1701 88.54);
  --yellow-500: oklch(0.778 0.1595 81.11);
  --yellow-600: oklch(0.6712 0.1425 72.57);
  --yellow-700: oklch(0.5427 0.1228 61.75);
  --yellow-800: oklch(0.4705 0.1047 59.08);
  --yellow-900: oklch(0.3945 0.1134 34.38);
  --yellow-950: oklch(0.306 0.0827 34.23);

  --green-25: oklch(0.9897 0.0107 158.85);
  --green-50: oklch(0.9772 0.0205 156.83);
  --green-100: oklch(0.946 0.0509 155.76);
  --green-200: oklch(0.8969 0.0926 156.42);
  --green-300: oklch(0.8305 0.1368 156.75);
  --green-400: oklch(0.7487 0.1632 155.29);
  --green-500: oklch(0.6745 0.1665 153.67);
  --green-600: oklch(0.5799 0.1448 153.76);
  --green-700: oklch(0.4924 0.1176 155.65);
  --green-800: oklch(0.4195 0.0959 157.03);
  --green-900: oklch(0.3687 0.0821 157.84);
  --green-950: oklch(0.2679 0.0559 159.6);

  --red-25: oklch(0.9909 0.0045 34.31);
  --red-50: oklch(0.9725 0.0119 23.7);
  --red-100: oklch(0.9394 0.0288 22.95);
  --red-200: oklch(0.89 0.0559 22.35);
  --red-300: oklch(0.8014 0.1094 24.57);
  --red-400: oklch(0.7086 0.1699 26.47);
  --red-500: oklch(0.6371 0.2104 28.54);
  --red-600: oklch(0.5758 0.2088 29.48);
  --red-700: oklch(0.5003 0.1821 29.51);
  --red-800: oklch(0.4322 0.15 28.99);
  --red-900: oklch(0.3975 0.1183 31.52);
  --red-950: oklch(0.3046 0.0952 31.72);
}
