html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Open Sauce";
  src: local("Open Sauce One"),
    url("/fonts/open-sauce-regular.woff2") format("woff2"),
    url("/fonts/open-sauce-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Open Sauce";
  src: local("Open Sauce One"),
    url("/fonts/open-sauce-italic.woff2") format("woff2"),
    url("/fonts/open-sauce-italic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Open Sauce";
  src: local("Open Sauce One"),
    url("/fonts/open-sauce-medium.woff2") format("woff2"),
    url("/fonts/open-sauce-medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Open Sauce";
  src: local("Open Sauce One"),
    url("/fonts/open-sauce-semibold.woff2") format("woff2"),
    url("/fonts/open-sauce-semibold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}
