html {
  scroll-behavior: smooth;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

@font-face {
  font-family: "Nacelle";
  src: local("Nacelle"),
    url("/fonts/nacelle.woff2") format("woff2"),
    url("/fonts/nacelle.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;

}

@font-face {
  font-family: "Nacelle";
  src: local("Nacelle"),
    url("/fonts/nacelle-italic.woff2") format("woff2"),
    url("/fonts/nacelle-italic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
  font-display: swap;

}

@font-face {
  font-family: "Nacelle";
  src: local("Nacelle"),
    url("/fonts/nacelle-medium.woff2") format("woff2"),
    url("/fonts/nacelle-medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;

}

@font-face {
  font-family: "Nacelle";
  src: local("Nacelle"),
    url("/fonts/nacelle-semibold.woff2") format("woff2"),
    url("/fonts/nacelle-semibold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;

}

@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono"),
    url("/fonts/jetbrains-mono.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(111,111,111, 0.5);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(111,111,111, 0.6);
}
