/* Code */

code:not(pre code) {
  background-color: var(--surface-1);
  font-size: 14px;
  padding: 1px;
  border-radius: 4px;
  color: var(--heading);
  border: 1px solid var(--surface-2);

  transition: all 200ms var(--default-transition-timingFunction);
}

/* Callouts */

.callout__note {
  background-color: oklch(from var(--indigo-50) l calc(c / 2) h);
}

html.dark .callout__note {
  background-color: oklch(from var(--indigo-900) l calc(c / 2) h / 20%);
}

.callout__warning {
  background-color: oklch(from var(--yellow-50) l calc(c * 3) h);
}

html.dark .callout__warning {
  background-color: oklch(from var(--yellow-500) l calc(c / 2) h / 7.5%);
}

.callout__danger {
  background-color: oklch(from var(--red-50) l calc(c / 2) h);
}

html.dark .callout__danger {
  background-color: oklch(from var(--red-900) l calc(c / 2) h / 20%);
}

/* Ordered Lists */

.mdx__ol li {
  counter-increment: li 1;
}

.mdx__ol li::before {
  content: counters(li, ".") ". ";
  margin-left: 0.125rem;
  margin-right: 0.5rem;
  font-feature-settings: "tnum" 1;

  color: var(--accent);
  transition: color 200ms var(--default-transition-timingFunction);
}

.mdx__ol svg {
  display: none;
}

/* Math */

.MathJax:not([display="true"]) {
  display: inline !important;
}

/* ContentEditable for one blogpost */

.contenteditable__autoresize {
  line-height: 1.5;
  min-height: calc(4rem + 16px);
  max-height: calc(8 * 1.5rem + 16px);
  overflow: auto;
}

.contenteditable__autoresize:empty::before {
  content: attr(placeholder);
  opacity: 0.5;
  pointer-events: none;
}
