.astro-tweet-theme {
  background: var(--background) !important;
  color: var(--content) !important;
  border: 1px solid var(--separator) !important;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  margin-left: auto !important;
  margin-right: auto !important;

  transition: all 200ms var(--default-transition-timingFunction) !important;

  --tweet-border: 1px solid var(--separator) !important;
  --tweet-twitter-icon-color: var(--content) !important;
}

.astro-tweet-theme a span[title]:not([title^="@"]) {
  color: var(--heading);
}

.astro-tweet-theme * {
  transition: all 200ms var(--default-transition-timingFunction) !important;
}

html.dark .astro-tweet-theme {
  background: var(--surface-1) !important;
  color: var(--heading) !important;
}

.bluesky-post-container {
  background: var(--background) !important;
  border: 1px solid var(--separator) !important;
  color: var(--content) !important;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  margin-left: auto !important;
  margin-right: auto !important;

  transition: all 200ms var(--default-transition-timingFunction) !important;
}

.bluesky-post-container * {
  transition: all 200ms var(--default-transition-timingFunction) !important;
}

.bluesky-post-container .external-link {
  background: var(--background) !important;
}

.bluesky-post-container .post-text {
  color: var(--heading) !important;
}

.bluesky-post-container .display-name {
  color: var(--heading) !important;
}

.bluesky-post-container .username {
  color: var(--heading) !important;
}

.bluesky-post-container .external-link {
  border: 1px solid var(--separator) !important;
}

.bluesky-post-container .timestamp {
  color: var(--heading) !important;
}

html.dark .bluesky-post-container {
  background: var(--surface-1) !important;
  color: var(--heading) !important;
}

html.dark .bluesky-post-container .external-link {
  background: var(--surface-1) !important;
  border: 1px solid var(--separator) !important;
}

html.dark .bluesky-post-container .external-link .domain {
  color: var(--heading) !important;
}

html.dark .bluesky-post-container .external-link .title {
  color: var(--heading) !important;
}

html.dark .bluesky-post-container .external-link .description {
  color: var(--heading) !important;
}

.bluesky-post-container .logo-link {
  width: 32px;
}

