---
import { Icon } from "astro-icon/components";

import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"svg">;

const { class: className } = Astro.props;
---

<div class=":uno: relative cursor-default" aria-hidden="true">
  <Icon name="lucide:git-pull-request-arrow" class={className} />
  <div
    class=":uno: block rounded-full absolute flex items-center justify-center w-3 h-3 text-background bg-primary text-[10px] font-medium text-background top-0 -right-1"
  >
    ?
  </div>
</div>
