---
import PullRequestArrow from "~icons/lucide/git-pull-request-arrow";

import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"svg">;

const { class: className } = Astro.props;
---

<div class=":uno: relative cursor-default" aria-hidden="true">
  <PullRequestArrow class={className} />
</div>
