---
import type { HTMLAttributes } from 'astro/types';

import PullRequestArrow from '~icons/lucide/git-pull-request-arrow';

type Props = HTMLAttributes<'svg'>;

const { class: className } = Astro.props;
---

<div class=":uno: cursor-default relative" aria-hidden="true">
  <PullRequestArrow class:list={className} />
</div>
